BestPractices/bptl-L3.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:s="http://purl.oclc.org/dsdl/schematron"
     xml:lang="en" version="3.1.0">
  <!-- The value of TEI/@version is the version number of P5 to which the ODDs conform. -->
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI in Libraries level 3</title>
        <author>
          <name type="organization">TEI SIG on Libraries</name>
        </author>
        <editor>
          <name type="person">Kevin Hawkins</name>
        </editor>
        <editor>
          <name type="person">Michelle Dalmau</name>
        </editor>
        <editor>
          <name type="person">Elli Mylonas</name>       
        </editor>
        <editor>
          <name type="person">Syd Bauman</name>
        </editor>
        <editor>
          <name type="person" xml:id="sbauman.emt">Syd Bauman</name>
        </editor>
      </titleStmt>
      <editionStmt>
        <!-- This is the version number of the BPTL. When you change
             the version # here, remember to change it
             a) in the <editionStmt>s of the other .odd files, and
             b) in the semi-closed list of values of @url of <schemaRef> in
                bptl-header.odd, too! -->
        <p>Version 4.0.0 (<date when="2018-09-08">Sat, 08 Sep 18</date>)</p>
      </editionStmt>
      <publicationStmt>
        <authority>TEI SIG on Libraries</authority>
        <availability status="restricted">
          <ab>Copyleft 2009 DLF</ab>
          <p>Permission is granted to copy, distribute and/or modify this document under the terms
            of the <ref target="http://www.gnu.org/licenses/fdl-1.2.html">GNU Free Documentation
              License, Version 1.2</ref> or any later version published by the Free Software
            Foundation; with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts. A
            copy of the license is included in the document entitled <name type="file"
              >COPYING.txt</name>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>No source in the transcriptional sense, but this document
        is a re-implementation of
        <bibl>
          <title>TEI in Libraries: Guidelines for Best Practices</title>
          <author>TEI in Libraries SIG</author>
          <author>Digital Libraries Federation TEI task force</author>
          <ptr
              target="https://wiki.tei-c.org/index.php/TEI_in_Libraries:_Guidelines_for_Best_Practices"/>
        </bibl>
        written in MediaWiki syntax and converted into the TEI ODD language. This verssion started <date
            when="2009-10-05"/>.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="#sbauman.emt" when="2010-12-31">
        Updated to match current wiki document and (partially) take
        advantage of new ODD features:
        <list>
          <item>wrap main content in a <gi>div</gi> so driver document
          can include the contents of this document as a division of
          its own</item>
          <item>use <att>include</att> on <gi>moduleRef</gi> where we
          only want certain elements</item>
          <item>link to only the <gi>specGrp</gi> of interest in the
          header ODD (which is now a complete <gi>TEI</gi>
          document)</item>
          <item>Take out some stuff that is now already in
          bptl-header.odd</item>
        </list>
      </change>
      <change who="#sbauman.emt" when="2009-10-05"> Begun, based on level 2. </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <head>Best Practices for TEI in Libraries</head>
      <head>Level 3: Simple Analysis</head>
      <div type="setting">
        <head>Setting</head>
        <p>This is the <name>level 3</name> portion of the <ref
            target="http://wiki.tei-c.org/index.php/Best_Practices_for_TEI_in_Libraries#LEVEL_3:_Simple_Analysis"
            >Best Practices for TEI in Libraries</ref>. This document is not intended to stand
          alone, but rather to be considered in concert with the entire TEI in Libraries
          recommendations.</p>
      </div>
      <divGen type="toc"/>
    </front>
    <body>
      <!-- This document is encoded with a single <div> as the one and only child of <body>, -->
      <!-- which on the face of it seems silly. This is on purpose, though, so that the-->
      <!-- driver document can XInclude to suck in a <div> for all of the body of level 3,-->
      <!-- but have it be a <div> element so that it is valid in the driver.-->
      <div xml:id="level-3-content">
        <head>Level 3: Simple Analysis</head>
        <div type="reference">
          <head>Reference</head>
          <list>
            <item>
              <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html">Chapter 4,
              Default Text Structure, P5 Guidelines</ref>
            </item>
            <item>
              <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/VE.html">Chapter 6,
              Verse, P5 Guidelines</ref>
            </item>
            <item>
              <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/FT.html">Chapter 14,
              Tables, Formulæ, and Graphics, P5 Guidelines</ref>
            </item>
            <item>
              <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html">Chapter 16,
            Linking, Segmentation, and Alignment, P5 Guidelines</ref> (for handling notes) </item>
          </list>
          <p>Note that this is intended to be a <soCalled>TEI conformant</soCalled> customization, per
          <ref target="file:///Users/syd/Documents/P5/Guidelines-web/en/html/USE.html#CF">P5,
          section 23.3</ref>.</p>
        </div>
        <div type="purpose">
          <head>Purpose</head>
          <p>To create a stand-alone electronic text and identify
          hierarchy (logical structure) and typography without content
          analysis being of primary importance.</p>
        </div>
        <div type="rationale">
          <head>Rationale</head>
          <p>Encoding at this level provides the foundation for
          upgrading to higher levels of encoding. Level 3 generally
          requires some human editing, but the features to be encoded
          are determined by the logical structure and appearance of
          the text and not specialized content analysis.</p>
          <p>Level 3 texts identify front and back matter, textual
          divisions, and all paragraph breaks. Floating texts (sub-texts 
          like a poem or letter embedded in the greater
          text) are supported in this level. The finer granularity of
          encoding these features, as well as figures, notes, and all
          changes of typography, allows a range of options for
          display, delivery, and searching. For example, one has the
          option of identifying, and therefore specifying, the display
          characteristics of different typographic styles, and
          regularizing the display and placement of note text.</p>
          <p>Level 3 texts can stand alone as text without page
          images and therefore can be uploaded, downloaded, and
          delivered to users quickly. In addition, they require less storage space than
          digital collections with page images. However, the simple
          level of structural analysis and absence of specialized
          content analysis reflected in Level 3 encoding may make it
          desirable for some, depending on project priorities, to
          include page images in order to provide users with a fuller
          set of resources on the source document.</p>
          <list>
            <head>Level 3 is most suitable for projects with the following characteristics:</head>
            <item>The material is of interest to a large community of users who wish to read texts that allow for keyword searching.</item>
            <item>Some sophistication of display, delivery, and searching based on structure of the text is desired.</item>
            <item>Each text will undergo quality control to ensure that encoding decisions have been made appropriately.</item>
            <item>The users of the texts may have limited storage or display capabilities.</item>
            <item>The creator of the texts has limited or no ability to provide content expertise to analyze, tag, or review texts.</item>
            <item>Extensibility is desired; that is, one desires to keep open the option for a higher level of encoding to be added at a later date.</item>
          </list>
        </div>
        <div type="workflow">
          <head>Workflow</head>
          <p>Level 3 texts can be created by semi-automated conversion from an
          electronic source such as an HTML file or word-processor
          document or from a print source, either through OCR or
          keyboarding; some human intervention is likely necessary. Level 3 texts can also be generated trivially by converting
          from outsourced double-keyboarded texts
          conforming to <ref
          target="http://www.tei-c.org/release/doc/tei-p5-exemplars/html/tei_tite.doc.html">TEI
          Tite</ref>, though some granularity of encoding will be lost in the translation.</p>
        </div>
        <div type="elrecs">
          <head>Element Recommendations for Level 3</head>
             <p>Use all elements specified in Level 2 <emph>except <gi>ab</gi> as defined for that level</emph>, plus the
          following:
          <table rend="table">
            <row>
              <cell><gi>front</gi>, <gi>back</gi></cell>
              <cell>[recommended] Use if front or back matter is present.</cell>
            </row>
            <row>
              <cell><gi>div</gi> or <gi>div1</gi></cell>
              <cell>[recommended] At least one <gi>div</gi> or <gi>div1</gi> is recommended within each of <gi>front</gi>, <gi>body</gi>, and <gi>back</gi>; <att>type</att> attribute is recommended. If a bibliography is included in the document, 
                it is recommended that it be encoded within a <gi>div</gi> whose <att>type</att> attribute has the value <val>bibliography</val>.</cell>
            </row>
            <row>
              <cell><gi>p</gi></cell>
              <cell>[recommended] Use for paragraphs in prose.</cell>
            </row>
            <row>
              <cell><gi>lg</gi> and <gi>l</gi></cell>
              <cell>[recommended] Use for identifying groups of lines and lines, respectively.</cell>
            </row>       
            <row>        
              <cell><gi>figure</gi> and appropriate child elements</cell>
              <cell>[recommended] Use to refer to illustrative images and descriptive information about those images.</cell>
            </row> 
            <row>
              <cell><gi>floatingText</gi></cell>
              <cell>[optional] Use to indicate a floating text.</cell>
            </row>    
            <row>
              <cell><gi>note</gi></cell>
              <cell>[recommended] Use for notes.</cell>
            </row>
            <row>
              <cell><gi>ptr</gi> or <gi>ref</gi></cell>
              <cell>[recommended] If a table of contents is encoded, <gi>ptr</gi> or <gi>ref</gi> is recommended for linking to sections of the document. If notes are encoded at the point they occur in the text or at another point convenient when converting from a born-digital source document, recommended for encoding the point of reference.</cell>
            </row>
            <row>
              <cell><gi>hi</gi></cell>
              <cell>[recommended] Indicates changes in typeface; <att>rend</att> attribute is optional.</cell>
            </row>
            <row>
              <cell><gi>list</gi> and <gi>item</gi></cell>
              <cell>[optional] Use to indicate ordered and unordered list structures.</cell>
            </row>
            <row>
              <cell><gi>table</gi>, <gi>row</gi>, and <gi>cell</gi></cell>
              <cell>[optional] Use to indicate table structures.</cell>
            </row>
            
            <row>
              <cell><gi>listBibl</gi></cell>
              <cell>[recommended] If a bibliography is present and encoded, use for identifying the bibliographic entries. Note that any header or title should be encoded by a <gi>head</gi> in the containing <gi>div</gi>.</cell>
            </row>
            <row>
              <cell><gi>bibl</gi></cell>
              <cell>[recommended] Contains a single bibliographic entry. Phrase
              level markup (e.g., <gi>hi</gi>) is optional. Further
              structural markup (e.g., <gi>author</gi>) is not used
              at level 3.</cell>
            </row>
          </table>
          </p>
        </div>
        <div type="grecs">
          <head>General Level 3 Recommendations</head>
          <div type="grec">
            <head>Forme Work</head>
            <p>Running heads, catch words, page numbers, signatures, and other artifacts derived from printing should not be included in Level 3, with the exception of page numbers, which are recorded using the <att>n</att> attribute on <gi>pb</gi>.  If upgrading a text from Level 1 or Level 2 that was generated using OCR, discard any forme work text.</p>
          </div>
          <div>
            <head>Level 3 Figures</head>
            <p><gi>figure</gi> groups elements representing or
            containing graphic information such as an illustration or
            figure. A <gi>figure</gi> should contain the
            following elements:
            <list>
              <label><gi>head</gi></label>
              <item>for a caption label (e.g., <quote>Figure 1</quote>) or, 
              when no caption label is present, a literal transcription of a caption. Use when this
              feature is present in the source document.</item>
              <label><gi>p</gi></label>
              <item>When a caption label is present and encoded 
              using <gi>head></gi>, use <gi>p</gi> for a literal 
              transcription of a caption (could be
              used in conjunction with the <gi>head</gi> tag if a
              caption label is present). Use when this feature is
              present in the source document.</item>
              <label><gi>figDesc</gi></label>
              <item>for a description of the image to serve as an 
              alternative to viewing the image. This is
              <emph>recommended</emph> in order to create digital texts
              that will be accessible to the visually impaired.</item>
              <label><gi>graphic</gi></label>
              <item>for pointing to the URI of the image itself using a
              <att>url</att> attribute and containing other presentation
              instructions such as dimension at which the graphic should
              be displayed, etc. This is <emph>recommended</emph> in order
              to point to the corresponding image file.</item>
            </list>
            </p>
            <p>Here is an example of the encoding of a frontispiece using <gi>figure</gi>: 
            <egXML xmlns="http://www.tei-c.org/ns/Examples" source="#BIB-NoST">
              <front>
                <div type="frontispiece">
                  <figure>
                    <head>Sojourner Truth.</head>          
                    <figDesc>Woodcut of Sojourner Truth.</figDesc>
                    <graphic url="http://docsouth.unc.edu/neh/truth50/frontis.html" scale="0.5"/>
                  </figure>
                </div>
                <ref target="Etc">...</ref>
              </front>
            </egXML>
            <note><bibl xml:id="BIB-NoST">
              <author>Truth, Sojourner</author> and
              <author>Olive Gilbert</author>. 
            <date>1850</date>.
            <title>Narrative of Sojourner Truth, a Northern Slave,
            Emancipated from Bodily Servitude by the State of New
            York, in 1828</title>.
            <pubPlace>Boston</pubPlace>:
            <publisher>n.p.</publisher>
            </bibl></note>
            </p>
          </div>
          <div type="grec">
            <head>Tables of Contents</head>
            <list>
              <item>
                <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html#DSFRONT"
                     >Chapter 4.5, Front Matter</ref>
              </item>
            </list>
            <p>You may wish not to include in your TEI document front matter such as a table of contents or a list of illustrations, especially if you plan to automatically generate these from the encoded text.  If you do, however, plan to manually encode such textual features, use a <gi>div</gi> (or <gi>div1</gi>) element with an appropriate <att>type</att> attribute (e.g., <tag>div type="contents"</tag>) to surround the encoding of the feature. Within this division, use the <gi>list</gi> element to mark up the table of contents, list of illustrations, etc. Each list item should have a <gi>ptr</gi> or <gi>ref</gi> element with a <att>target</att> attribute referencing an <att>xml:id</att> attribute on the <gi>pb</gi> or on the <gi>div</gi> (or <gi>div1</gi>) of the referenced page or section. Use <gi>ref</gi> if you wish to transcribe page numbers in the table of contents; use <gi>ptr</gi> if you do not.</p>
          </div>
          <div type="grec">
            <head>Notes</head>
            <p>Use the <gi>note</gi> element to encode the text of a margin note, 
              footnote, endnote, or other note found in the source document. If a
              point of attachment is marked with a siglum (such as an asterisk 
              or superscript number), encode the siglum with a <gi>ref</gi> 
              element. Alternatively, if there is no marked point of attachment, 
              insert a <gi>ptr</gi> at the most likely implied point of attachment
              for the note.</p>
            <p>The text of the note (inside a <gi>note</gi> element) may either (a) be 
              left where it occurs in the layout of the page (as may be more 
              convenient in the case of conversion from OCR text) or may (b) be moved
              so that the <gi>note</gi> occurs just following the <gi>ref</gi> or 
              <gi>ptr</gi> marking the point of attachment. If a note span pages,
              be sure to insert a <gi>pb</gi> to mark the start of a new page. 
              Similarly, if the note in the source document begins on a different 
              page from the place of reference, a <gi>pb</gi> should be inserted 
              before the first word of the note within the <gi>note</gi> to record 
              this.</p>
            <p>The siglum is often repeated at the beginning of the note to aid the 
              reader in matching the siglum in the text to the note. Encode any 
              siglum within the note using <gi>label</gi>.</p>
            <p>Here is an example encoded according to method (a)—first the sigla:
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <p>The three little pigs built their houses out of straw,<ref target="#n_a1">1</ref>
                sticks,<ref target="#n_a2">2</ref> and bricks.<ref target="#n_a3">3</ref></p>
              </egXML>
              <note><bibl>
                <author>Christian</author>. <date>2012</date>. <title>How to properly typeset footnotes/superscripts after 
                punctuation marks?</title>.
                <ptr target="https://tex.stackexchange.com/questions/56063/how-to-properly-typeset-footnotes-superscripts-after-punctuation-marks/56085"/>.
                </bibl></note></p>
            <p>And then the annotations themselves, encoded as
            <gi>note</gi> elements inside a division in the backmatter
            that holds the endnotes:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <back>
                  <div type="endnotes">
                    <head>The Collected End-notes</head>
                    <note place="bottom" anchored="true" xml:id="n_a1">
                      <label>1</label>
                      not to be confused with hay</note>
                    <note place="bottom" anchored="true" xml:id="n_a2">
                      <label>2</label>
                      or lumber according to some sources</note>
                    <note place="bottom" anchored="true" xml:id="n_a3">
                      <label>3</label>
                      probably fired clay bricks</note>
                  </div>
                </back>
              </egXML>
           
            <p>Here is an example encoded according to method (b), with notes encoded 
              right after the point of attachment:
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <p>The three little pigs built their houses out of 
                straw,<ref target="#n_b1">1</ref>
                <note place="bottom" anchored="true" xml:id="n_b1">
                  <label>1</label> not to be confused with hay
                </note> 
                sticks,<ref target="#n_b2">2</ref>
                <note place="bottom" anchored="true" xml:id="n_b2">
                  <label>2</label> or lumber according to some sources
                </note>
                and bricks.<ref target="#n_b3">3</ref>
                <note place="bottom" anchored="true" xml:id="n_b3">
                  <label>3</label> probably fired clay bricks
                </note>
                </p>
              </egXML>
            </p>  
          </div>
        </div>
        <div type="examples">
          <head>Level 3 Examples</head>
          <div type="example">
            <head>Level 3 Basic Structure: Prose</head>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <TEI xml:id="MBFG0236">
                <teiHeader xml:lang="en">
                  &lt;!-- header goes here -->
                </teiHeader>
                <text xml:lang="en">
                  <front>
                    <div type="frontispiece">[figure]</div>
                    <titlePage>[text]</titlePage>
                    <div type="dedication">[text]</div>
                    <div type="contents">[text]</div>
                  </front>
                  <body>
                    <div type="book">
                      <head>[book title]</head>
                      <div type="chapter">[text]</div>
                      <div type="chapter">[text]</div>
                      <div type="chapter">[text]</div>
                      <div type="chapter">[text]</div>
                      <div type="chapter">[text]</div>
                    </div>
                  </body>
                  <back>
                    <div type="appendix">[text]</div>
                    <div type="index">[text]</div>
                  </back>
                </text>
              </TEI>
            </egXML>
          </div>
          <div type="example">
            <head>Level 3 Basic Structure: Verse</head>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <TEI xml:id="VAA2383">
                <teiHeader xml:lang="en">
                  &lt;!-- header goes here -->
                </teiHeader>
                <text xml:lang="en">
                  <front>
                    <titlePage>[text]</titlePage>
                    <div type="dedication">[text]</div>
                    <div type="contents">[text]</div>
                  </front>
                  <body>
                    <div type="book">
                      <head>[book title]</head>
                      <div type="part">
                        <head>[section title]</head>
                        <div type="poem">
                          <head>THE DAYS GONE BY.</head>
                          <lg>
                            <l>O the days gone by! O the days gone by!</l>
                            <l>The apples in the orchard, and the pathway through the rye;</l>
                            <l>The chirrup of the robin, and the whistle of the quail</l>
                            <l>As he piped across the meadows sweet as any nightingale;</l>
                            <l>When the bloom was on the clover, and the blue was in the sky,</l>
                            <l>And my happy heart brimmed overin the happy days gone by.</l>
                          </lg>
                          <lg>[lines of poetry]</lg>
                          <lg>[lines of poetry]</lg>
                          <lg>[lines of poetry]</lg>
                        </div>
                      </div>
                    </div>
                  </body>
                </text>
              </TEI>
            </egXML>
          </div>
          <div type="example">
            <head>Level 3 Table of Contents</head>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              &lt;!--target attribute references page break identifier-->
              <div type="contents">
                <head>CONTENTS</head>
                <list type="simple">
                  <item>I. A Boy and His Dog <ref target="#VAA2383_011" rend="text-align: right"
                  >3</ref>
                  </item>
                  <item>II. Romance <ref target="#VAA2383_020" rend="text-align: right">12</ref>
                  </item>
                  <item>III. The Costume <ref target="#VAA2383_029" rend="text-align: right">21</ref>
                  </item>
                  <item>IV. Desperation <ref target="#VAA2383_038" rend="text-align: right">30</ref>
                  </item>
                  <item>V. The Pageant of the Table Round <ref target="#VAA2383_046"
                  rend="text-align: right">38</ref>
                  </item>
                </list>
              </div>
            </egXML>
          </div>
          <div type="example">
            <head>Level 3 Chapter with Letter</head>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <div type="chapter">
                <pb xml:id="VAA2383_126" n="118"/>
                <head type="main">CHAPTER XIV</head>
                <head type="subtitle">MAURICE LEVY'S CONSTITUTION</head>
                <p><hi rend="font-weight: bold">L</hi>O, SAM!" said Maurice cautiously. "What you
                doin'?"</p>
                <p>Penrod at that instant had a singular experiencean intellectual shock like a flash
                of fire in the brain. Sitting in darkness, a great light flooded him with wild
                brilliance. He gasped!</p>
                &lt;!--Text removed from example-->
                <p>"What you doin'?" asked Maurice for the third time, Sam Williams not having decided
                upon a reply.</p>
                <pb xml:id="VAA2383_127" n="119"/>
                <p>It was Penrod who answered.</p>
                <p>"Drinkin' lickrish water," he said simply, and wiped his mouth with such delicious
                enjoyment that Sam's jaded thirst was instantly stimulated. He took the bottle
                eagerly from Penrod.</p>
                <p>"A-a-h!" exclaimed Penrod, smacking his lips. "That was a good un!"</p>
                &lt;!--Text removed from example-->
                <p>Penrod uttered some muffled words and then waved both armseither in response or as
                an expression of his condition of mind; it may have been a gesture of despair. How
                much intention there was in this actobviously so rash, considering the position he
                occupiedit is impossible to say. Undeniably there must remain a suspicion of
                deliberate purpose.</p>
                &lt;!--Text removed from example-->
                <pb xml:id="VAA2383_138" n="130"/>
                <p>The damsel curtsied again and handed him the following communication, addressed to
                herself: </p>
                <floatingText>
                  <body>
                    <div type="letter">
                      <p>"Dear madam Please excuse me from dancing the cotilo with you this afternoon
                      as I have fell off the barn</p>
                      <p>"Sincerly yours<lb/> "<hi rend="font-variant: small-caps">Penrod
                      Schofield</hi>." </p>
                    </div>
                  </body>
                </floatingText>
              </div>
            </egXML>
          </div>
          <div type="example" xml:id="L3AHex">
            <head>Level 3 Alger Hiss document</head>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <TEI xml:id="someid3">
                <teiHeader xml:lang="en">
                  &lt;!-- header goes here -->
                </teiHeader>
                <text xml:lang="en">
                  <body>
                    <div1>
                      <pb n="113" facs="00000001.tif"/>
                      <head>POINT VIII. BECAUSE OF UNLAWFUL SURVEILLANCE, PETITIONER'S CONVICTION
                      SHOULD BE VACATED; ALTERNATIVELY, DISCOVERY AND A HEARING SHOULD BE
                      ORDERED.</head>
                      <p>The nature and extent of surveillance of Hiss, his family and associates was
                      not known at the time of trial by the defense. Even now, with the release of
                      some of the govern­ ment documents concerning FBI investigative techniques
                      regarding Hiss, the full extent of surveillance -- wiretapping, mail open­
                      ings, mail covers, physical surveillance, and other intrusive techniques -- is
                      still not 'clear. Nevertheless, it is apparent that information gathered
                      through the exploitation of unlawful wiretaps and other illegal surveillance
                      was used at trial and consequently the conviction must be reversed.
                      Alternatively, further discovery and a hearing is essential to a fair deter­
                      mination regarding these issues.</p>
                      <p>FBI surveillance of Hiss began in earnest in 1941 with the institution of a
                      mail cover on his incoming correspondence at his home in connection with an
                      FBI investigation of possible Hatch Act violations. CN Ex. 98A. Another mail
                      cover was placed <pb n="114" facs="00000002.tif"/> on the Hiss mail in 1945,
                      and at the same time the FBI obtained toll call records from the Hiss
                      residence Telephone for the years 1943 and 1944 as well. CN Ex. 99. In
                      September, 1945, the FBI intercepted telegrams to Hiss as well. CN Ex.
                      100.</p>
                      <p>In late November, 1945, FBI surveillance of the Hiss residence in Washington,
                      D.C., escalated. For the third time, a mail cover was instituted beginning on
                      November 28, 1945, which was continued at least until 1946. CN Ex. 101 at p.
                      70; CN Ex. 102. Continuous physical surveillance of Hiss was begun as well. CN
                      Ex. 101 at p. 72. Although this twenty-four-hour surveillance was discontinued
                      on December 14, 1945, physical surveillance was conducted frequently at
                      various times until September, 1947. <ptr target="#n68">68</ptr>
                      <note place="bottom" anchored="true" xml:id="n68"><label>68</label>Also before 
                      1947, a letter from Priscilla Hiss addressed to her son,
                      Timothy Hobson, was intercepted and its contents read. CN Ex. 100A at p.
                      167. In approximately March, 1947, a letter from a Michael Greenberg
                      addressed to petitioner re­ garding an application for employment with the
                      United Nations was also intercepted, in a manner not revealed by the docu­
                      ments. CN Ex. 100B</note> CN Ex. 102; CN Ex. 103.</p>
                      <p>The most intrusive invasion of petitioner's rights <pb n="115"
                      facs="00000003.tif"/> occurred from December 13, 1945 until the Hisses moved
                      from Washington, D.C. to New York City on September 13, 1947. A "technical
                      surveillance," -- a wiretap -- was placed on the Hiss telephone at their
                      residence on P Street-in Washington, D.C. The logs of this surveillance
                      constitute twenty-nine volumes of FBI serials and are roughly 2,500 pages in
                      length, in which an enormous amount of information concerning the Hisses' per­
                      sonal lives, relationships with friends and associates, and habits is
                      recorded.</p>
                      <p>The wiretap was installed following FBI Director Hoover's application to the
                      Attorney General for authorization, <ptr target="n69">69</ptr><note place="bottom" 
                      anchored="true" xml:id="n69"><label>69</label>Hoover's initial request was answered by a note reques­ ting
                      information on Hiss. CN Ex. 104. Additional information was furnished by
                      letter dated November 30, 1945. CN Ex. 105.</note> although no written
                      authorization appears in the documents released to Hiss. The purpose of the
                      application was to gather information regarding Hiss' alleged contacts with
                      Soviet espionage agents and communists in government service, general
                      allegations which had been made by Elizabeth Bentley and Chambers.</p>
                      <p>As one would expect, the interception of every telephone</p>
                    </div1>
                  </body>
                </text>
              </TEI>
            </egXML>
          </div>
        </div>
        <!-- ********************************************* -->
        <div type="specification">
          <head>Specification</head>
          <schemaSpec ident="bptl-L3" docLang="en" xml:lang="en" prefix="L3_" source="tei:3.3.0">
            <!-- The @source on <elementSpec>, above, is the version
                 number against which our ODD files are built. -->
            <moduleRef key="core"/>
            <moduleRef key="tei"/>
            <moduleRef key="textstructure" include="TEI text front body back floatingText div div1 div2 div3 div4 div5 div6 div7"/>
            <moduleRef key="linking" include="ab"/>
            <moduleRef key="transcr" include="facsimile surface"/>
            <moduleRef key="namesdates" include="orgName persName"/>
            <specGrpRef target="./bptl-header.odd#libHeadSpec"/>
            <moduleRef key="figures" include="table row cell figure"/>
            <!-- ****************************************** -->
            <!-- Changes to elements, in alphabetical order -->
            <!-- ****************************************** -->
            <elementSpec module="textstructure" ident="TEI" mode="change">
              <desc>contains a single TEI-in-Libraries level 3
              document, comprising a TEI header and a text, the latter
              represented as either a transcription (in <gi>text</gi>)
              or a transcription and page images (in
              <gi>facsimile</gi>), either in isolation or as part of a
              <gi>teiCorpus</gi> element.</desc>
              <classes mode="replace">
                <memberOf key="att.global"/>
              </classes>
              <content>
                <elementRef key="teiHeader" minOccurs="1" maxOccurs="1"/>
                <alternate minOccurs="0" maxOccurs="1">
                  <sequence>
                    <elementRef key="sourceDoc" minOccurs="1" maxOccurs="1"/>
                    <elementRef key="facsimile" minOccurs="0" maxOccurs="1"/>
                  </sequence>
                  <sequence>
                    <elementRef key="facsimile" minOccurs="1" maxOccurs="1"/>
                    <elementRef key="sourceDoc" minOccurs="0" maxOccurs="1"/>
                  </sequence>
                </alternate>
                <elementRef key="text" minOccurs="1" maxOccurs="1"/>
              </content>
              <constraintSpec scheme="schematron" ident="no-rend-in-header">
                <constraint>
                  <s:rule context="tei:TEI | tei:teiHeader | tei:teiHeader//*">
                    <s:report test="@rend or @rendition or
                                    @xml:space">The @rend, @rendition, and @xml:space
                    attributes are not permitted on the root TEI element
                    or within the teiHeader element</s:report>
                  </s:rule>
                </constraint>
              </constraintSpec>
              <exemplum xml:lang="en">
                <p>Note that for technical reasons the namespace is
                not shown in this example, but it should always be
                supplied on the root <gi>TEI</gi> element, e.g.:
                <tag>TEI
                xmlns="http://www.tei-c.org/ns/1.0"</tag>.</p>
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <TEI>
                    <teiHeader xml:lang="en">
                      <fileDesc>
                        <titleStmt>
                          <title>A Short Level 3 Document</title>
                        </titleStmt>
                        <publicationStmt>
                          <p>Only published as an example.</p>
                        </publicationStmt>
                        <sourceDesc>
                          <biblStruct>
                            <monogr>
                              <title>The Princess Bride</title>
                              <title type="sub">S. Morgenstern’s Classic Tale of True Love and High Adventure</title>
                              <imprint>
                                <publisher>Harcourt Brace Jovanovich</publisher>
                                <date when="1973"/>
                              </imprint>
                            </monogr>
                            <idno type="isbn-10">0-345-41826-3</idno>
                          </biblStruct>
                        </sourceDesc>
                      </fileDesc>
                    </teiHeader>
                    <text xml:lang="en">
                      <body>
                        <div type="chapter" n="1">
                          <head>The Bride</head>
                          <p>The year that Buttercup was born, the most beautiful woman <lb/>in the
                          world …</p>
                          &lt;!-- rest of chapter 1 -->
                        </div>
                        <div type="chapter" n="2">
                          <head>The Groom</head>
                          <note>
                            <p>This is my first major excision. Chapter One, The Bride, is almost
                            <lb/>in its entirety about the bride. …</p>
                          </note>
                          &lt;!-- rest of chapter 2 -->
                        </div>
                        &lt;!-- rest of the book -->
                      </body>
                    </text>
                  </TEI>
                </egXML>
              </exemplum>
              <remarks>
                <p>This element is required. The TEI namespace should
                be specified on this element, e.g. <tag
                type="start">TEI
                xmlns="http://www.tei-c.org/ns/1.0"</tag>.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="core" ident="author" mode="change">
              <desc>in a bibliographic reference, contains the name
              (typically encoded as <gi>persName</gi> or
              <gi>orgName</gi>) of the author, personal or corporate,
              of a work; for example in the same form as that provided
              by a recognized bibliographic name authority.</desc>
              <classes mode="replace">
                <memberOf key="att.global"/>
                <memberOf key="att.canonical"/>
                <memberOf key="model.respLike"/>
              </classes>
              <content>
                <macroRef key="macro.phraseSeq"/>
              </content>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author><orgName>British Broadcasting Corporation</orgName></author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author><persName ref="persons.xml#mdalmau.cny">Michelle Dalmau</persName></author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author><name>Gibson, Matthew</name></author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author>anonymous</author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author>unknown</author>
                </egXML>
              </exemplum>
              <remarks>
                <p>Particularly where cataloguing is likely to be
                based on the content of the header, it is advisable to
                use a generally recognized name authority file to
                supply the content for this element. The attribute
                <att>ref</att> may also be used to reference canonical
                information about the author(s) intended from any
                appropriate authority, such as a library catalogue or
                online resource.</p>
                <p>In the case of a broadcast, use this element for
                the name of the company or network responsible for
                making the broadcast.</p>
                <p>Where an author is unknown or unspecified, this
                element may contain text such as
                <mentioned>Unknown</mentioned> or
                <mentioned>Anonymous</mentioned>.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="textstructure" ident="back" mode="change">
              <classes mode="replace">
                <memberOf key="att.global"/>
              </classes>
              <content>
                <alternate>
                  <classRef key="model.divLike" minOccurs="1" maxOccurs="unbounded"/>
                  <classRef key="model.div1Like" minOccurs="1" maxOccurs="unbounded"/>
                </alternate>
              </content>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <back>
                    <div1 type="appendix">
                      <head>The Golden Dream or, the Ingenuous Confession</head>
                      <ab>To shew the Depravity of human Nature </ab>
                    </div1>
                    <div1 type="epistle">
                      <head>A letter from the Printer, which he desires may be inserted</head>
                      <ab>Sir. I have done with your Copy, so you may return it to the Vatican, if you
                      please</ab>
                    </div1>
                    <div1 type="advert">
                      <head>The Books usually read by the Scholars of Mrs Two-Shoes are these and are
                      sold at Mr Newbery's at the Bible and Sun in St Paul's Church-yard.</head>
                      <ab> The Christmas Box, Price 1d. The History of Giles Gingerbread, 1d. A
                      Curious Collection of Travels, selected from the Writers of all Nations, 10
                      Vol, Pr. bound 1l. </ab>
                    </div1>
                    <div1 type="advert">
                      <head>By the KING's Royal Patent, Are sold by J. NEWBERY, at the Bible and Sun
                      in St. Paul's Church-Yard.</head>
                      <ab> Dr. James's Powders for Fevers, the Small-Pox, Measles, Colds, &amp;c. 2s.
                      6d Dr. Hooper's Female Pills, 1s. </ab>
                    </div1>
                  </back>
                </egXML>
              </exemplum>
            </elementSpec>
            <elementSpec module="core" ident="bibl" mode="change">
              <constraintSpec scheme="schematron" ident="no-specialized-children">
                <constraint>
                  <s:report test="ancestor::tei:text and (
                                    tei:author
                                  | tei:biblScope
                                  | tei:citedRange
                                  | tei:distributor
                                  | tei:edition
                                  | tei:editor
                                  | tei:idno
                                  | tei:pubPlace
                                  | tei:publisher
                                  | tei:relatedItem
                                  | tei:respStmt
                                  | tei:series
                                  | tei:title )
                                  ">When used inside the transcribed text at level 3,
                    the <gi>bibl</gi> element uses only generic
                    phrase-level markup like <gi>hi</gi>, not
                    structured bibliographic markup like <s:value-of
                    select="(  tei:author
                             | tei:biblScope
                             | tei:citedRange
                             | tei:distributor
                             | tei:edition
                             | tei:editor
                             | tei:idno
                             | tei:pubPlace
                             | tei:publisher
                             | tei:relatedItem
                             | tei:respStmt
                             | tei:series
                             | tei:title)[1]/local-name(.)"/>.</s:report>
                </constraint>
              </constraintSpec>
              <remarks>
                <p>At level 3, the <gi>bibl</gi> element uses only
                generic phrase-level markup like <gi>hi</gi>, not
                structured bibliographic markup like <gi>author</gi>.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="textstructure" ident="body" mode="change">
              <classes mode="replace">
                <memberOf key="att.global"/>
              </classes>
              <content>
                <alternate>
                  <classRef key="model.divLike" minOccurs="1" maxOccurs="unbounded"/>
                  <classRef key="model.div1Like" minOccurs="1" maxOccurs="unbounded"/>
                </alternate>
              </content>
              <exemplum>
                <egXML xmlns="http://www.tei-c.org/ns/Examples"  xml:lang="fr">
                  <body>
                    <head>LA FOREST NVPTIALE,</head>
                    <p>Où e∫t repre∫entee vne varieté bigarree, non mois e∫merveillable que plai∫an‐
                    te, de diuers mariages, ∫elon qu’ils ∫ont ob∫erueZ &amp; pratiqueZ par plu∫ieurs
                    peuples &amp; nations e∫tranges. Auec la maniere de policier, regir, gouuer‐ ner
                    &amp; admini∫trer leur famille.</p>
                    <div type="chapter">
                      <head>Les Romains. CHAPITRE I.</head>
                      <p>Encores que ie ne veuille me formali‐ ∫er contre le droict Romain, neãtmoins
                      puis que le forma‐ litez, qui e∫toient an‐ ciennement gardees au nopces
                      Romaines, ∫ont maintenant mi∫es hors d’v∫ages &amp; pratique, ie ne ∫e‐ A
                      <pb/> ray point de difficulté d’emprunter des anciens autheurs ce qui appar‐
                      &lt;!-- ... -->
                      </p>
                    </div>
                  </body>
                </egXML>
              </exemplum>
              <remarks>
                <p>At level 3, the content of <gi>body</gi> may contain
                only the <gi>head</gi>,
                <gi>l</gi>,
                <gi>lg</gi>,
                <gi>p</gi>,
                <gi>figure</gi>,
                <gi>floatingText</gi>,
                <gi>pb</gi>,
                <gi>lb</gi>,
                <gi>note</gi>,
                and
                either <gi>div</gi> or <gi>div1</gi> elements.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="textstructure" ident="div" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="model.divLike"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
              <content>
                <sequence>
                  <alternate minOccurs="0" maxOccurs="unbounded">
                    <classRef key="model.divTop"/>
                    <classRef key="model.global"/>
                  </alternate>
                  <alternate minOccurs="0">
                    <sequence minOccurs="1" maxOccurs="unbounded">
                      <classRef key="model.divLike"/>
                      <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                    <sequence>
                      <sequence minOccurs="1" maxOccurs="unbounded">
                        <classRef key="model.common"/>
                      <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                      </sequence>
                      <sequence minOccurs="0" maxOccurs="unbounded">
                        <classRef key="model.divLike"/>
                        <classRef key="model.global" minOccurs="0" maxOccurs="unbounded"/>
                      </sequence>
                    </sequence>
                  </alternate>
                </sequence>
              </content>
              <constraintSpec scheme="schematron" ident="recommendType">
                <constraint>
                  <s:report role="warning" test="not(@type)">Use of
                  the <att>type</att> attribute of <gi>div</gi> is
                  recommended</s:report>
                </constraint>
              </constraintSpec>
              <remarks>
                <p>At level 3, <gi>div</gi> may only contain
                the <gi>head</gi>,
                <gi>l</gi>,
                <gi>lg</gi>,
                <gi>p</gi>,
                <gi>figure</gi>,
                <gi>floatingText</gi>,
                <gi>pb</gi>,
                <gi>lb</gi>,
                <gi>note</gi>,
                and
                <gi>div</gi> elements.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="textstructure" ident="div1" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
            </elementSpec>
            <elementSpec module="textstructure" ident="div2" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
             </elementSpec>
            <elementSpec module="textstructure" ident="div3" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
            </elementSpec>
            <elementSpec module="textstructure" ident="div4" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
            </elementSpec>
            <elementSpec module="textstructure" ident="div5" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
            </elementSpec>
            <elementSpec module="textstructure" ident="div6" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
            </elementSpec>
            <elementSpec module="textstructure" ident="div7" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
             </elementSpec>
            <elementSpec module="core" ident="editor" mode="change">
              <desc>contains the name (typically encoded as <gi>persName</gi> or
              <gi>orgName</gi>) of an individual, institution, or organization acting as
              editor.</desc>
              <classes mode="change">
                <memberOf key="att.naming" mode="delete"/>
                <memberOf key="att.canonical" mode="delete"/>
              </classes>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <editor><persName ref="names.xml#khawkins.tvt">Kevin Hawkins</persName></editor>
                </egXML>
              </exemplum>
            </elementSpec>
            <elementSpec module="transcr" ident="facsimile" mode="change">
              <content>
                <elementRef key="surface" minOccurs="1" maxOccurs="unbounded"/>
              </content>
            </elementSpec>
            <elementSpec module="textstructure" ident="front" mode="change">
              <content>
                <alternate>
                  <classRef key="model.divLike" minOccurs="1" maxOccurs="unbounded"/>
                  <classRef key="model.div1Like" minOccurs="1" maxOccurs="unbounded"/>
                </alternate>
              </content>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <front>
                    <div type="dedication">
                      <p>To our three selves</p>
                    </div>
                    <div type="preface">
                      <head>Author's Note</head>
                      <p>All the characters in this book are purely imaginary, and if the author has
                      used names that may suggest a reference to living persons she has done so
                      inadvertently. ...</p>
                    </div>
                  </front>
                </egXML>
              </exemplum>
            </elementSpec>
            <elementSpec module="core" ident="head" mode="change">
              <desc>contains the heading of a division (for example
              the title of a section), figure, list, line group, or
              table.</desc>
            </elementSpec>
            <elementSpec module="core" ident="listBibl" mode="change">
              <content>
                <sequence>
                  <!-- model.headLike (i.e., <head>) removed -->
                  <alternate minOccurs="1" maxOccurs="unbounded">
                    <classRef key="model.biblLike"/>
                    <classRef key="model.milestoneLike"/>
                  </alternate>
                  <alternate minOccurs="0" maxOccurs="unbounded">
                    <elementRef key="relation"/>
                    <elementRef key="listRelation"/>
                  </alternate>
                </sequence>
              </content>
            </elementSpec>
            <elementSpec module="core" ident="note" mode="change">
              <classes mode="change">
                <memberOf key="att.pointing" mode="delete"/>
              </classes>
              <attList>
                <attDef ident="targetEnd" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="namesdates" ident="orgName" mode="change">
              <classes mode="change">
                <memberOf mode="delete" key="att.datable"/>
              </classes>
            </elementSpec>
            <elementSpec module="core" ident="pb" mode="change">
              <attList>
                <attDef ident="ed" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="namesdates" ident="persName" mode="change">
              <classes mode="change">
                <memberOf mode="delete" key="att.datable"/>
              </classes>
            </elementSpec>
            <elementSpec module="core" ident="ptr" mode="change">
              <attList>
                <attDef ident="cRef" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="core" ident="ref" mode="change">
              <attList>
                <attDef ident="cRef" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="transcr" ident="surface" mode="change">
              <content>
                <elementRef key="graphic"/>
              </content>
            </elementSpec>
            <!-- ********************************* -->
            <!-- Element deletion, in module order -->
            <!-- ********************************* -->
            <elementSpec module="core" ident="add" mode="delete"/>
            <elementSpec module="core" ident="binaryObject" mode="delete"/>
            <elementSpec module="core" ident="corr" mode="delete"/>
            <elementSpec module="core" ident="del" mode="delete"/>
            <elementSpec module="core" ident="desc" mode="delete"/>
            <elementSpec module="core" ident="distinct" mode="delete"/>
            <elementSpec module="core" ident="divGen" mode="delete"/>
            <elementSpec module="core" ident="gap" mode="delete"/>
            <elementSpec module="core" ident="gb" mode="delete"/>
            <elementSpec module="core" ident="gloss" mode="delete"/>
            <elementSpec module="core" ident="headItem" mode="delete"/>
            <elementSpec module="core" ident="headLabel" mode="delete"/>
            <elementSpec module="core" ident="index" mode="delete"/>
            <elementSpec module="core" ident="measure" mode="delete"/>
            <elementSpec module="core" ident="measureGrp" mode="delete"/>
            <elementSpec module="core" ident="meeting" mode="delete"/>
            <elementSpec module="core" ident="mentioned" mode="delete"/>
            <elementSpec module="core" ident="milestone" mode="delete"/>
            <elementSpec module="core" ident="num" mode="delete"/>
            <elementSpec module="core" ident="orig" mode="delete"/>
            <elementSpec module="core" ident="quote" mode="delete"/>
            <elementSpec module="core" ident="reg" mode="delete"/>
            <elementSpec module="core" ident="rs" mode="delete"/>
            <elementSpec module="core" ident="said" mode="delete"/>
            <elementSpec module="core" ident="sic" mode="delete"/>
            <elementSpec module="core" ident="soCalled" mode="delete"/>
            <elementSpec module="core" ident="sp" mode="delete"/>
            <elementSpec module="core" ident="speaker" mode="delete"/>
            <elementSpec module="core" ident="stage" mode="delete"/>
            <elementSpec module="core" ident="teiCorpus" mode="delete"/>
            <elementSpec module="core" ident="time" mode="delete"/>
            <elementSpec module="core" ident="unclear" mode="delete"/>
            <!-- ****************************************************** -->
            <!-- Class deletions (both deletion of classes and deletion -->
            <!-- of attributes from classes) in no particiular order    -->
            <!-- ****************************************************** -->
            <classSpec module="tei" type="atts" ident="att.global" mode="change">
              <attList>
                <attDef ident="xml:base" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec module="tei" ident="model.resourceLike" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.divBottomPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.entryPart.top" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.frontPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.msItemPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.msQuoteLike" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.personPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.persStateLike" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.pLike.front" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.titlepagePart" mode="delete" type="model"/>
            <classSpec module="tei" ident="att.declarable" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.declaring" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.divLike" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.editLike" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.naming" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.naming" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.typed" mode="change" type="atts">
              <attList>
                <attDef ident="subtype" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec module="namesdates" ident="att.datable.iso" mode="delete" type="atts"/>
            <classSpec module="textstructure" ident="model.divBottom" mode="delete" type="model"/>
            <classSpec module="textstructure" ident="model.divWrapper" mode="delete" type="model"/>
            <classSpec module="transcr" ident="att.coordinated" mode="delete" type="atts"/>
          </schemaSpec>
        </div>
      </div>
    </body>
  </text>
</TEI>
