BestPractices/bptl-L2.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:s="http://purl.oclc.org/dsdl/schematron"
     xml:lang="en" version="3.1.0">
  <!-- The value of TEI/@version is the version number of P5 to which the ODDs conform. -->
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI in Libraries level 2</title>
        <author>
          <name type="organization">TEI SIG on Libraries</name>
        </author>
        <editor>
          <name type="person">Kevin Hawkins</name>
        </editor>
        <editor>
          <name type="person">Michelle Dalmau</name>
        </editor>
        <editor>
          <name type="person">Elli Mylonas</name>       
        </editor>
        <editor>
          <name type="person" xml:id="sbauman.emt">Syd Bauman</name>
        </editor>
      </titleStmt>
      <editionStmt>
        <!-- This is the version number of the BPTL. When you change
             the version # here, remember to change it
             a) in the <editionStmt>s of the other .odd files, and
             b) in the semi-closed list of values of @url of <schemaRef> in
                bptl-header.odd, too! -->
        <p>Version 4.0.0 (<date when="2018-09-08">Sat, 08 Sep 18</date>)</p>
      </editionStmt>
      <publicationStmt>
        <authority>TEI SIG on Libraries</authority>
        <availability status="restricted">
          <ab>Copyleft 2009 DLF</ab>
          <p>Permission is granted to copy, distribute and/or modify
          this document under the terms of the <ref target="http://www.gnu.org/licenses/fdl-1.2.html">GNU Free
          Documentation License, Version 1.2</ref> or any later
          version published by the Free Software Foundation; with no
          Invariant Sections, no Front-Cover Texts, and no Back-Cover
          Texts. A copy of the license is included in the document
          entitled <name type="file">COPYING.txt</name>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>No source in the transcriptional sense, but this document
        is a re-implementation of
        <bibl>
          <title>TEI in Libraries: Guidelines for Best Practices</title>
          <author>TEI in Libraries SIG</author>
          <author>Digital Libraries Federation TEI task force</author>
          <ptr
              target="https://wiki.tei-c.org/index.php/TEI_in_Libraries:_Guidelines_for_Best_Practices"/>
        </bibl>
        written in MediaWiki syntax and converted into the TEI ODD language. This
        verssion started <date when="2009-08-01"/>.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="#sbauman.emt" when="2009-08-01">
        Begun, based on level 1.
      </change>
      <change who="#sbauman.emt" when="2010-12-26">
        Updated to match current wiki document and (partially) take
        advantage of new ODD features:
        <list>
          <item>wrap main content in a <gi>div</gi> so driver document
          can include the contents of this document as a division of
          its own</item>
          <item>use <att>include</att> on <gi>moduleRef</gi> where we
          only want certain elements</item>
          <item>link to only the <gi>specGrp</gi> of interest in the
          header ODD (which is now a complete <gi>TEI</gi>
          document)</item>
          <item>Add <code>tei</code> prefix to element selectors in
          Schematron <att>context</att>s</item>
        </list>
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <head>Best Practices for TEI in Libraries</head>
      <head>Level 2: Minimal Encoding</head>
      <div type="setting">
        <head>Setting</head>
        <p>This is the <name>level 2</name> portion of the <ref target="http://wiki.tei-c.org/index.php/Best_Practices_for_TEI_in_Libraries#LEVEL_2:_Minimal_Encoding">Best
        Practices for TEI in Libraries</ref>. This document is not
        intended to stand alone, but rather to be considered in
        concert with the entire TEI in Libraries recommendations.</p>
      </div>
      <divGen type="toc"/>
    </front>
    <body>
      <!-- This document is encoded with a single <div> as the one and only child of <body>, -->
      <!-- which on the face of it seems silly. This is on purpose, though, so that the-->
      <!-- driver document can XInclude to suck in a <div> for all of the body of level 2,-->
      <!-- but have it be a <div> element so that it is valid in the driver.-->
      <div xml:id="level-2-content">
        <head>Level 2: Minimal Encoding</head>
        <div type="reference">
          <head>Reference</head>
          <list>
            <item>
              <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html">Chapter 3, Elements Available in All TEI Documents</ref>
            </item>
            <item>
              <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html">Chapter 4, Default Text Structure</ref>
            </item>
          </list>
          <p>Note that this is a <soCalled>syntactically
          conformant</soCalled> customization, in that documents that
          are valid against this scheme will also be valid against the
          <name>TEI_all</name> schema. However, it is unclear whether or
          not it is truly <soCalled>TEI conformant</soCalled>, as P5 does not make clear whether or not
          encoding of individual paragraphs is mandatory.</p>
        </div>
        <div type="purpose">
          <head>Purpose</head>
          <p>To create electronic text for full-text searching, linking
          to page images, and identifying simple structural hierarchy to
          improve navigation. (For example, you can generate a table of
          contents automatically from such encoding.)</p>
        </div>
        <div type="rationale">
          <head>Rationale</head>
          <p>The text is mainly subordinate to the page image, though
          navigational markers (textual divisions, headings) are
          captured. However, the text could stand alone as electronic
          text (without page images) if the accuracy of its contents is
          suitable to its intended use and it is not necessary to
          display low-level typographic or structural information. Use 
          cases for Level 2 require a set of elements more granular than 
          those of Level 1, including bibliographic or structural information 
          below the monographic or volume level. One of the motivations for 
          using Level 2 is to avoid expensive analysis of textual elements
          and/or the expense of accurate text conversion, e.g.,
          double-keying or detailed proofreading of automatic OCR.</p>
          <p>For the most part, though, Level 2 texts are <emph>not</emph>
          intended to be displayed separately from their page images.
          Level 2 encoding of sections and headings provides greater
          navigational possibilities than Level 1 encoding, and enables
          searching to be restricted within particular textual divisions
          (for example, searching for two phrases within the same
          chapter).</p>
          <list>
            <head>Level 2 is most suitable for projects with the following characteristics:</head>
            <item>A large volume of material is to be made available
            online quickly.</item>
            <item>A digital image of each page is desired.</item>
            <item>The material is of interest to a large community of
            users who wish to read texts that allow keyword
            searching.</item>
            <item>Rudimentary search and display capabilities based on
            the large structures of the text are desired.</item>
            <item>Each text is checked to ensure that textual divisions
            and headers are properly identified.</item>
            <item>Extensibility is desired; that is, one desires to keep
            open the option for a higher level of encoding to be added
            at a later date.</item>
          </list>
        </div>
        <div type="workflow">
          <head>Workflow</head>
          <p>Level 2 generally can be created and encoded by automated
          means. Pagination is identified as in Level 1, and metadata
          for the textual divisions is created, likely based on the page
          images. The textual division metadata might contain the page
          number on which the division begins and a transcription of
          that division's heading. This metadata is inserted into the
          OCR at the appropriate points, forming a valid XML
          document. Level 2 texts do not require any special knowledge
          or manual intervention below the section level.</p>
        </div>
        <div type="elrecs">
          <head>Element Recommendations for Level 2</head>
          <p>Optionally use the elements specified in Level 1. In addition, use the following:
          <table rend="table">
            <row>
                 <cell><gi>text</gi></cell>
                 <cell>[recommended] Used as a wrapper for the encoded transcription of the source document.</cell>
               </row>
               <row>
                    <cell><gi>front</gi>, <gi>back</gi> </cell>
                    <cell>[optional] Contains one or more <gi>div</gi> or <gi>div1</gi>.</cell>
               </row>
               <row>
                    <cell><gi>body</gi></cell>
                    <cell>[recommended] Contains one or more <gi>div</gi> or <gi>div1</gi>.</cell>
               </row>
               <row>
                    <cell><gi>div1</gi> or <gi>div</gi> </cell>
                    <cell>[recommended] One <gi>div</gi> or <gi>div1</gi> is used per section of the text identified with division-level metadata. If no <att>type</att> attribute is specified, a <att>type</att> value of <val>section</val> should be presumed.</cell>
               </row>
               <row>
                    <cell><gi>head</gi> </cell>
                    <cell>[recommended] Use if headings are present. As in P5, this element must appear before the <gi>ab</gi> for that division.</cell>
               </row>
               <row>
                    <cell><gi>ab</gi></cell>
                    <cell>[recommended] There should be only one child of the <gi>div</gi> (or <gi>div1</gi>): a single <gi>ab</gi> wrapping all of the OCR text. If the TEI document is ever <soCalled>upgraded</soCalled> to Level 3 or higher, the <gi>ab</gi> element will be replaced by structural elements like <gi>p</gi> and <gi>table</gi>.</cell>
               </row>
               <row>
                    <cell><gi>lb</gi></cell>
                    <cell>[optional] Indicates the beginning of a new line.</cell>
               </row>
            <row>
              <cell><gi>cb</gi></cell>
              <cell>[optional] indicates the beginning of a new column.</cell>
            </row>
          </table>
          </p>
        </div>
        <div type="examples">
          <head>Level 2 Examples</head>
          <div type="example">
            <head>Level 2 Basic Structure</head>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <TEI>
                <teiHeader xml:lang="en">
                  &lt;!-- header goes here -->
                </teiHeader>
                <sourceDoc>
                  &lt;!-- entire &lt;sourceDoc> is optional, but it might have, for example: -->
                  <surface facs="imgs/xmp_pg01.jpg">
                    <line>[ OCR content of page 1 line 1 here ]</line>
                    <line>[ OCR content of page 1 line 2 here ]</line>
                    <line>[ OCR content of page 1 line 3 here ]</line>
                    &lt;!-- ... -->
                  </surface>
                  <surface facs="imgs/xmp_pg02.jpg">
                    <line>[ OCR content of page 2 line 1 here ]</line>
                    <line>[ OCR content of page 2 line 2 here ]</line>
                    <line>[ OCR content of page 2 line 3 here ]</line>
                    &lt;!-- ... -->
                  </surface>
                  &lt;!-- ... -->
                </sourceDoc>
                <text xml:lang="en">
                  <front>
                    &lt;!-- entire &lt;front> is optional, but it might have, for example: -->
                    <div type="titlePage">
                      <pb facs="[URI of title page image]"/>
                      <ab>[ entire title page here ]</ab>
                    </div>
                    <div type="TOC">
                      <pb n="ii" facs="[URI of table of contents]"/>
                      <head>[ heading of table of contents ]</head>
                      <ab>[ entire table of contents here ]</ab>
                    </div>
                    <div type="preface">
                      <head>[ heading of preface ]</head>
                      <ab>[ entire preface, with interspersed <gi>pb</gi> elements pointing
                      to page images as needed, here ]</ab>
                    </div>
                  </front>
                  <body>
                    <div type="section">
                      <pb n="1" facs="[URI of page 1 image]"/>
                      <head>[ heading of section 1 ]</head>
                      <ab>[ entire contents of section 1 here, with
                      interspersed <gi>pb</gi> elements pointing to page
                      images; in this example there are 26 more pages
                      to section 1 ]</ab>
                    </div>
                    <div type="section">
                      <pb n="27" facs="[URI of page 27 image]"/>
                      <div type="subsection">
                        <head>[ heading of section 2 subsection 1 ]</head>
                        <ab>[ all the paragraphs of subsection one go here
                        with page breaks inserted ]</ab>
                      </div>
                    </div>
                  </body>
                  <back>
                    &lt;!-- optional: organized like &lt;front>, with 1 or more &lt;div> or &lt;div1>,
                         each with a single &lt;ab> -->
                  </back>
                </text>
              </TEI>
            </egXML>
          </div>
          <div type="example" xml:id="L2AHex">
            <head>Level 2 Alger Hiss document</head>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <TEI xml:id="someid2">
                <teiHeader xml:lang="en">
                  &lt;!-- header goes here -->
                </teiHeader>
                <text xml:lang="en">
                  <body>
                    <div1>
                      <pb n="113" facs="00000001.tif"/>
                      &lt;!-- content of head element was transcribed from page image -->
                      <head>POINT VIII. BECAUSE OF UNLAWFUL SURVEILLANCE, PETITIONER'S
                      <lb/>CONVICTION SHOULD BE VACATED; ALTERNATIVELY, DISCOVERY AND A HEARING
                      <lb/>SHOULD BE ORDERED.</head>
                      <ab>
                        &lt;!-- uncorrected OCR for first page image begins here -->
                        POINT VIII.
                        <lb/>BECAUSE OF UNLAWFUL SURVEILLANCE, PETITIONER'S
                        <lb/>CONVICTION SHOULD BE VACATED; ALTERNATIVELY,
                        <lb/>DISCOVERY AND A HEARING SHOULD BE ORDERED.
                        <lb/>The nature and extent of surveillance of Hiss, his
                        <lb/>family and associates was not known at the time of trial by
                        <lb/>the defense. Even now, with the release of some of the govern‐
                        <lb/>ment documents concerning FBI investigative techniques regarding
                        <lb/>Hiss, the full extent of surveillance -- wiretapping, mail open‐
                        <lb/>ings, mail covers, physical surveillance, and other intrusive
                        <lb/>techniques -- is still not 'clear. Nevertheless, it is apparent
                        <lb/>that information gathered through the exploitation of unlawful
                        <lb/>wiretaps and other illegal surveillance was used at trial and
                        <lb/>consequently the conviction must be reversed. Alternatively,
                        <lb/>further discovery and a hearing is essential to a fair deter‐
                        <lb/>mination regarding these issues.
                        <lb/>FBI surveillance of Hiss began in earnest in 1941 with
                        <lb/>the institution of a mail cover on his incoming correspondence
                        <lb/>at his home in connection with an FBI investigation of possible
                        <lb/>Hatch Act violations. CN Ex. 98A. Another mail cover was placed


                        <lb/>-113 -


                        &lt;!-- uncorrected OCR for first page image ends here -->
                        <pb n="114" facs="00000002.tif"/>
                        &lt;!-- uncorrected OCR for second page image begins here -->
                        <lb/>on the Hiss mail in 1945, and at the same time the FBI obtained
                        <lb/>toll call records from the Hiss residence Telephone for the
                        <lb/>years 1943 and 1944 as well. CN Ex. 99. In September, 1945,
                        <lb/>the FBI intercepted telegrams to Hiss as well. CN Ex. 100.
                        <lb/>In late November, 1945, FBI surveillance of the Hiss
                        <lb/>residence in Washington, D.C., escalated. For the third time,
                        <lb/>a mail cover was instituted beginning on November 28, 1945,
                        <lb/>which was continued at least until 1946. CN Ex. 101 at p. 70;
                        <lb/>CN Ex. 102. Continuous physical surveillance of Hiss was begun
                        <lb/>as well. CN Ex. 101 at p. 72. Although this twenty-four-hour
                        <lb/>surveillance was discontinued on December 14, 1945, physical
                        <lb/>surveillance was conducted frequently at various times until
                        <lb/>September, 1947. CN Ex. 102; CN Ex. 103.
                        <lb/>The most intrusive invasion of petitioner's rights
                        <lb/>68/ Also before 1947, a letter from Priscilla Hiss addressed
                        <lb/>to her son, Timothy Hobson, was intercepted and its contents
                        <lb/>read. CN Ex. 100A at p. 167. In approximately March, 1947,
                        <lb/>a letter from a Michael Greenberg addressed to petitioner re‐
                        <lb/>garding an application for employment with the United Nations
                        <lb/>was also intercepted, in a manner not revealed by the docu‐
                        <lb/>ments. CN Ex. 100B


                        <lb/>-114 -



                        &lt;!-- uncorrected OCR for second page image ends here -->
                        <pb n="115" facs="00000003.tif"/>
                        &lt;!-- uncorrected OCR for third page image begins here -->
                        <lb/>occurred from December 13, 1945 until the Hisses moved from
                        <lb/>Washington, D.C. to New York City on September 13, 1947. A
                        <lb/>"technical surveillance," -- a wiretap -- was placed on the Hiss
                        <lb/>telephone at their residence on P Street-in Washington, D.C.
                        <lb/>The logs of this surveillance constitute twenty-nine volumes
                        <lb/>of FBI serials and are roughly 2,500 pages in length, in which
                        <lb/>an enormous amount of information concerning the Hisses' per‐
                        <lb/>sonal lives, relationships with friends and associates, and
                        <lb/>habits is recorded.
                        <lb/>The wiretap was installed following FBI Director Hoover's
                        <lb/>application to the Attorney General for authorization,  although
                        <lb/>no written authorization appears in the documents released to
                        <lb/>Hiss. The purpose of the application was to gather information
                        <lb/>regarding Hiss' alleged contacts with Soviet espionage agents and
                        <lb/>communists in government service, general allegations which had
                        <lb/>been made by Elizabeth Bentley and Chambers.
                        <lb/>As one would expect, the interception of every telephone
                        <lb/>h9/       Hoover's initial request was answered by a note reques‐
                        <lb/>ting information on Hiss. CN Ex. 104. Additional information
                        <lb/>was furnished by letter dated November 30, 1945. CN Ex. 105.


                        <lb/>-115 -


                        &lt;!-- uncorrected OCR for third page image ends here -->
                      </ab>
                    </div1>
                  </body>
                </text>
              </TEI>
            </egXML>
          </div>
        </div>
        <!-- ********************************************* -->
        <div type="specification">
          <head>Specification</head>
          <schemaSpec ident="bptl-L2" docLang="en" xml:lang="en" prefix="L2_" source="tei:3.3.0">
            <!-- The @source on <elementSpec>, above, is the version
                 number against which our ODD files are built. -->
            <moduleRef key="core"/>
            <moduleRef key="tei"/>
            <moduleRef key="textstructure" include="TEI text front body back div div1"/>
            <moduleRef key="linking" include="ab"/>
            <moduleRef key="transcr" include="sourceDoc facsimile surface surfaceGrp zone line"/>
            <moduleRef key="namesdates" include="orgName persName"/>
            <specGrpRef target="./bptl-header.odd#libHeadSpec"/>
            <!-- ****************************************** -->
            <!-- Changes to elements, in alphabetical order -->
            <!-- ****************************************** -->
            <elementSpec module="textstructure" ident="TEI" mode="change">
              <gloss>TEI document</gloss>
              <desc>contains a single TEI-in-Libraries level 2
              document, comprising a TEI header and a text, the latter
              represented as either a logical transcription (in
              <gi>text</gi>) or a transcription and page images (in
              <gi>text</gi> and <gi>facsimile</gi> respectively),
              along with an optional typographic transcription (in
              <gi>sourceDoc</gi>, typically automatically generated
              from OCR software), either in isolation or as part of a
              <gi>teiCorpus</gi> element.</desc>
              <classes mode="replace">
                <memberOf key="att.global"/>
              </classes>
              <content>
                <elementRef key="teiHeader" minOccurs="1" maxOccurs="1"/>
                <alternate minOccurs="0" maxOccurs="1">
                  <sequence>
                    <elementRef key="sourceDoc" minOccurs="1" maxOccurs="1"/>
                    <elementRef key="facsimile" minOccurs="0" maxOccurs="1"/>
                  </sequence>
                  <sequence>
                    <elementRef key="facsimile" minOccurs="1" maxOccurs="1"/>
                    <elementRef key="sourceDoc" minOccurs="0" maxOccurs="1"/>
                  </sequence>
                </alternate>
                <elementRef key="text" minOccurs="1" maxOccurs="1"/>
              </content>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <TEI>
                    <teiHeader>
                      <fileDesc>
                        <titleStmt>
                          <title>A Short Level 2 Document</title>
                        </titleStmt>
                        <publicationStmt>
                          <p>Only published as an example.</p>
                        </publicationStmt>
                        <sourceDesc>
                          <p>Since this is an example, it doesn't really have a source</p>
                        </sourceDesc>
                      </fileDesc>
                    </teiHeader>
                    <text>
                      <body>
                        <div>
                          <ab>This is about the shortest TEI document imaginable.</ab>
                        </div>
                      </body>
                    </text>
                  </TEI>
                </egXML>
              </exemplum>
              <remarks>
                <p>This element is required. The TEI namespace should
                be specified on this element, e.g. <tag
                type="start">TEI
                xmlns="http://www.tei-c.org/ns/1.0"</tag>.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="linking" ident="ab" mode="change">
              <gloss>anonymous block</gloss>
              <desc>contains the entire content of a division of the
              document; or, when used within the <gi>teiHeader</gi>,
              contains any arbitrary component-level unit of text,
              acting as an anonymous container for phrase or inter level
              elements analogous to, but without the semantic baggage
              of, a paragraph.</desc>
              <classes mode="replace">
                <memberOf key="att.global"/>
                <memberOf key="model.pLike"/>
                <memberOf key="att.typed"/>
              </classes>
              <content>
                <alternate minOccurs="1" maxOccurs="unbounded">
                  <textNode/>
                  <classRef key="model.global"/>
                </alternate>
              </content>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <publicationStmt>
                    <availability><ab>Copyleft 2009 Syd Bauman</ab></availability>
                  </publicationStmt>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <body>
                    <div>
                      <head>Genesis</head>
                      <ab>In the beginning God created the heaven and the earth.
                      <lb/>And the earth was without form, and void; and darkness was upon
                      <lb/>the face of the deep. And the spirit of God moved upon the face
                      <lb/>of the waters.
                      <lb/>And God said, Let there be light: and there was light.</ab>
                    </div>
                  </body>
                </egXML>
              </exemplum>
              <remarks>
                <p>At level 2, entire sections of the document (be they
                parts, chapters, etc.) are each encoded as a single
                <gi>ab</gi> — each division (whether
                <gi>div</gi>, <gi>div1</gi>, <gi>div2</gi>, etc.) should
                have one and only one <gi>ab</gi> child. Further,
                <gi>ab</gi> <emph>may</emph> be used in a variety of
                places within the <gi>teiHeader</gi>.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="core" ident="author" mode="change">
              <desc>in a bibliographic reference, contains the name
              (typically encoded as <gi>name</gi>, <gi>persName</gi>, or
              <gi>orgName</gi>) of the author, personal or corporate, of
              a work; for example in the same form as that provided by a
              recognized bibliographic name authority.</desc>
              <classes mode="replace">
                <memberOf key="att.global"/>
                <memberOf key="att.canonical"/>
                <memberOf key="model.respLike"/>
              </classes>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author><orgName>British Broadcasting Corporation</orgName></author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author><persName ref="persons.xml#mdalmau.cny">Michelle Dalmau</persName></author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author><name>Gibson, Matthew</name></author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author>anonymous</author>
                </egXML>
              </exemplum>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <author>unknown</author>
                </egXML>
              </exemplum>
              <remarks>
                <p>Particularly where cataloguing is likely to be based
                on the content of the header, it is advisable to use a
                generally recognized name authority file to supply the
                content for this element. The attribute <att>ref</att> 
                may also be used to reference canonical information about
                the author(s) intended from any appropriate authority, 
                such as a library catalogue or online resource.</p>
                <p>In the case of a broadcast, use an <gi>orgName</gi>
                inside this element for the name of the company or
                network responsible for making the broadcast.</p>
                <p>Where an author is unknown or unspecified, this
                element may contain text such as
                <mentioned>Unknown</mentioned> or
                <mentioned>Anonymous</mentioned>.</p>
              </remarks>
              <listRef>
                <ptr target="#COBICOR"/>
                <ptr target="#HD21"/>
              </listRef>
            </elementSpec>
            <elementSpec module="textstructure" ident="back" mode="change">
              <content>
                <alternate>
                  <classRef key="model.divLike" minOccurs="1" maxOccurs="unbounded"/>
                  <classRef key="model.div1Like" minOccurs="1" maxOccurs="unbounded"/>
                </alternate>
              </content>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <back>
                    <div1 type="appendix">
                      <head>The Golden Dream or, the Ingenuous Confession</head>
                      <ab>To shew the Depravity of human Nature </ab>
                    </div1>
                    <div1 type="epistle">
                      <head>A letter from the Printer, which he desires may be inserted</head>
                      <ab>Sir.
                      <lb/>I have done with your Copy, so you may return it to the Vatican, if you please</ab>
                    </div1>
                    <div1 type="advert">
                      <head>The Books usually read by the Scholars of
                      <lb/>Mrs Two-Shoes are these and are sold at Mr
                      <lb/>Newbery's at the Bible and Sun in St Paul's
                      <lb/>Church-yard.</head>
                      <ab>The Christmas Box, Price 1d.
                        <lb/>The History of Giles Gingerbread, 1d.
                        <lb/>A Curious Collection of Travels, selected from the Writers of all Nations,
                        <lb/>10 Vol, Pr. bound 1l.
                      </ab>
                    </div1>
                    <div1 type="advert">
                      <head>By the KING's Royal Patent,
                      <lb/>Are sold by J. NEWBERY, at the
                      <lb/>Bible and Sun in St. Paul's Church-Yard.</head>
                      <ab>Dr. James's Powders for Fevers, the Small-Pox, Measles, Colds, &amp;c.
                        <lb/>2s. 6d
                        <lb/>Dr. Hooper's Female Pills, 1s.
                      </ab>
                    </div1>
                  </back>
                </egXML>
              </exemplum>
            </elementSpec>
            <elementSpec module="textstructure" ident="body" mode="change">
              <classes mode="replace">
                <memberOf key="att.global"/>
              </classes>
              <content>
                <alternate>
                  <classRef key="model.divLike" minOccurs="1" maxOccurs="unbounded"/>
                  <classRef key="model.div1Like" minOccurs="1" maxOccurs="unbounded"/>
                </alternate>
              </content>
              <exemplum>
                <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:lang="fr">
                  <body>
                    <head>LA FOREST
                    <lb/>NVPTIALE,</head>
                    <ab>Où e∫t repre∫entee vne varieté bigarree,
                    <lb/>non mois e∫merveillable que plai∫an‐
                    <lb/>te, de diuers mariages, ∫elon qu’ils ∫ont
                    <lb/>ob∫erueZ &amp; pratiqueZ par plu∫ieurs
                    <lb/>peuples &amp; nations e∫tranges. Auec
                    <lb/>la maniere de policier, regir, gouuer‐
                    <lb/>ner &amp; admini∫trer leur famille.</ab>
                    <div type="chapter">
                      <head>Les Romains. CHAPITRE I.</head>
                      <ab>Encores que ie ne
                      <lb/>veuille me formali‐
                      <lb/>∫er contre le droict
                      <lb/>Romain, neãtmoins
                      <lb/>puis que le forma‐
                      <lb/>litez, qui e∫toient an‐
                      <lb/>ciennement gardees au nopces
                      <lb/>Romaines, ∫ont maintenant mi∫es
                      <lb/>hors d’v∫ages &amp; pratique, ie ne ∫e‐
                      <lb/>A
                      <pb/>ray point de difficulté d’emprunter
                      <lb/>des anciens autheurs ce qui appar‐
                      &lt;!-- ... -->
                      </ab>
                    </div>
                  </body>
                </egXML>
              </exemplum>
              <remarks>
                <p>At level 2, the content of <gi>body</gi> may contain
                only <gi>head</gi>, <gi>ab</gi>, <gi>pb</gi>,
                <gi>note</gi>, and either <gi>div</gi> or <gi>div1</gi>
                elements.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="textstructure" ident="div" mode="change">
              <classes mode="change">
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="att.BPTL.div.typed"/>
              </classes>
              <content>
                <classRef key="model.global" minOccurs="0"/>
                <classRef key="model.divTop" minOccurs="0"/>
                <classRef key="model.global" minOccurs="0"/>
                <elementRef key="ab" minOccurs="1" maxOccurs="1"/>
                <classRef key="model.global" minOccurs="0"/>
              </content>
              <remarks>
                <p>At level 2, <gi>div</gi> may contain only an
                optional <gi>head</gi> followed by a required
                <gi>ab</gi>; also <gi>lb</gi>, <gi>pb</gi>, and
                <gi>note</gi> elements may be interspersed anywhere as
                needed.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="textstructure" ident="div1" mode="change">
              <classes mode="change">
                <memberOf key="att.global"/>
                <memberOf key="att.typed" mode="delete"/>
                <memberOf key="model.divLike"/>
              </classes>
              <content>
                <classRef key="model.global" minOccurs="0"/>
                <classRef key="model.divTop" minOccurs="0"/>
                <classRef key="model.global" minOccurs="0"/>
                <elementRef key="ab" minOccurs="1" maxOccurs="1"/>
                <classRef key="model.global" minOccurs="0"/>
              </content>
              <attList>
                <attDef ident="type" mode="change">
                  <datatype>
                    <dataRef key="teidata.enumerated"/>
                  </datatype>
                  <defaultVal>section</defaultVal>
                </attDef>
              </attList>
              <remarks>
                <p>At level 2, <gi>div1</gi> may contain only an
                optional <gi>head</gi> followed by a required
                <gi>ab</gi>.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="core" ident="editor" mode="change">
              <desc>contains the name (typically encoded as
              <gi>name</gi>, <gi>persName</gi>, or <gi>orgName</gi>) of
              an individual, institution, or organization acting as
              editor.</desc>
              <classes mode="replace">
                <memberOf key="att.global"/>
                <memberOf key="model.respLike"/>
              </classes>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <editor><persName ref="names.xml#khawkins.tvt">Kevin Hawkins</persName></editor>
                </egXML>
              </exemplum>
            </elementSpec>
            <elementSpec module="transcr" ident="facsimile" mode="change">
              <content>
                <elementRef key="surface" minOccurs="1" maxOccurs="unbounded"/>
              </content>
            </elementSpec>
            <elementSpec module="textstructure" ident="front" mode="change">
              <desc>contains any prefatory matter (headers, title page,
              prefaces, dedications, etc.) found at the start of a
              document, before the main body.</desc>
              <classes mode="replace">
                <memberOf key="att.global"/>
              </classes>
              <content>
                <alternate>
                  <classRef key="model.divLike" minOccurs="1" maxOccurs="unbounded"/>
                  <classRef key="model.div1Like" minOccurs="1" maxOccurs="unbounded"/>
                </alternate>
              </content>
              <exemplum xml:lang="en">
                <egXML xmlns="http://www.tei-c.org/ns/Examples">
                  <front>
                    <div type="dedication">
                      <ab>To our three selves</ab>
                    </div>
                    <div type="preface">
                      <head>Author's Note</head>
                      <ab>All the characters in this book are purely
                      <lb/>imaginary, and if the author has used names that
                      <lb/>may suggest a reference to living persons she has
                      <lb/>done so inadvertently. ...</ab>
                    </div>
                  </front>
                </egXML>
              </exemplum>
            </elementSpec>
            <elementSpec module="core" ident="graphic" mode="change">
              <content><empty/></content>
            </elementSpec>
            <elementSpec module="core" ident="head" mode="change">
              <classes mode="replace">
                <memberOf key="att.global"/>
                <memberOf key="att.typed"/>
                <memberOf key="model.headLike"/>
              </classes>
              <remarks>
                <p>The <gi>head</gi> element is used for headings at all
                levels; software which treats (e.g.) chapter headings,
                section headings, and list titles differently must
                determine the proper processing of a <gi>head</gi>
                element based on its structural position.</p>
                <p>A <gi>head</gi> occurring as the first element of a
                <gi>div</gi> or <gi>div1</gi> is the title of that
                chapter or section.</p>
              </remarks>
            </elementSpec>
            <elementSpec module="core" ident="note" mode="change">
              <attList>
                <attDef ident="anchored" mode="delete"/>
                <attDef ident="target" mode="delete"/>
                <attDef ident="targetEnd" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="namesdates" ident="orgName" mode="change">
              <classes mode="change">
                <memberOf mode="delete" key="att.datable"/>
              </classes>
            </elementSpec>
            <elementSpec module="core" ident="pb" mode="change">
              <attList>
                <attDef ident="ed" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="namesdates" ident="persName" mode="change">
              <classes mode="change">
                <memberOf mode="delete" key="att.datable"/>
              </classes>
            </elementSpec>
            <elementSpec module="core" ident="ptr" mode="change">
              <attList>
                <attDef ident="cRef" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="core" ident="ref" mode="change">
              <attList>
                <attDef ident="cRef" mode="delete"/>
              </attList>
            </elementSpec>
            <elementSpec module="transcr" ident="surface" mode="change">
              <content>
                <elementRef key="graphic" minOccurs="1" maxOccurs="1"/>
              </content>
            </elementSpec>
            <!-- ********************************* -->
            <!-- Element deletion, in module order -->
            <!-- ********************************* -->
            <elementSpec module="core" ident="add" mode="delete"/>
            <elementSpec module="core" ident="binaryObject" mode="delete"/>
            <elementSpec module="core" ident="cb" mode="delete"/>
            <elementSpec module="core" ident="corr" mode="delete"/>
            <elementSpec module="core" ident="del" mode="delete"/>
            <elementSpec module="core" ident="desc" mode="delete"/>
            <elementSpec module="core" ident="distinct" mode="delete"/>
            <elementSpec module="core" ident="divGen" mode="delete"/>
            <elementSpec module="core" ident="gap" mode="delete"/>
            <elementSpec module="core" ident="gb" mode="delete"/>
            <elementSpec module="core" ident="headItem" mode="delete"/>
            <elementSpec module="core" ident="headLabel" mode="delete"/>
            <elementSpec module="core" ident="hi" mode="delete"/>
            <elementSpec module="core" ident="index" mode="delete"/>
            <elementSpec module="core" ident="l" mode="delete"/>
            <elementSpec module="core" ident="lg" mode="delete"/>
            <elementSpec module="core" ident="listBibl" mode="delete"/>
            <elementSpec module="core" ident="measure" mode="delete"/>
            <elementSpec module="core" ident="measureGrp" mode="delete"/>
            <elementSpec module="core" ident="meeting" mode="delete"/>
            <elementSpec module="core" ident="mentioned" mode="delete"/>
            <elementSpec module="core" ident="milestone" mode="delete"/>
            <elementSpec module="core" ident="num" mode="delete"/>
            <elementSpec module="core" ident="orig" mode="delete"/>
            <elementSpec module="core" ident="quote" mode="delete"/>
            <elementSpec module="core" ident="reg" mode="delete"/>
            <elementSpec module="core" ident="rs" mode="delete"/>
            <elementSpec module="core" ident="said" mode="delete"/>
            <elementSpec module="core" ident="sic" mode="delete"/>
            <elementSpec module="core" ident="soCalled" mode="delete"/>
            <elementSpec module="core" ident="sp" mode="delete"/>
            <elementSpec module="core" ident="speaker" mode="delete"/>
            <elementSpec module="core" ident="stage" mode="delete"/>
            <elementSpec module="core" ident="teiCorpus" mode="delete"/>
            <elementSpec module="core" ident="time" mode="delete"/>
            <elementSpec module="core" ident="unclear" mode="delete"/>
            <!-- ****************************************************** -->
            <!-- Class deletions (both deletion of classes and deletion -->
            <!-- of attributes from classes) in no particiular order    -->
            <!-- ****************************************************** -->
            <classSpec module="tei" type="atts" ident="att.global" mode="change">
              <attList>
                <attDef ident="xml:base" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec module="tei" type="atts" ident="att.global.rendition" mode="change">
              <attList>
                <attDef ident="rend" mode="delete"/>
                <attDef ident="rendition" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec module="tei" type="model" ident="model.inter" mode="change">
              <classes mode="change">
                <memberOf key="model.common" mode="delete"/>
              </classes>
            </classSpec>
            <classSpec module="tei" ident="model.common" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.divBottomPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.frontPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.msItemPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.msQuoteLike" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.personPart" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.persStateLike" mode="delete" type="model"/>
            <classSpec module="tei" ident="model.pLike.front" mode="delete" type="model"/>
            <classSpec module="tei" ident="att.declarable" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.declaring" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.divLike" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.editLike" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.naming" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.naming" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.placement" mode="delete" type="atts"/>
            <classSpec module="tei" ident="att.typed" mode="change" type="atts">
              <attList>
                <attDef ident="subtype" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec module="linking" ident="att.global.linking" mode="delete" type="atts"/>
            <classSpec module="linking" ident="att.pointing" mode="change" type="atts">
              <attList>
                <attDef ident="targetLang" mode="delete"/>
                <attDef ident="evaluate" mode="delete"/>
              </attList>
            </classSpec>
            <classSpec module="linking" ident="att.pointing.group" mode="delete" type="atts"/>
            <classSpec module="namesdates" ident="att.datable.iso" mode="delete" type="atts"/>
            <classSpec module="textstructure" ident="model.divBottom" mode="delete" type="model"/>
            <classSpec module="textstructure" ident="model.divWrapper" mode="delete" type="model"/>
            <!-- Not a class deletion: model.noteLike is removed from model.global at levels 1 & 2 -->
            <classSpec module="core" ident="model.noteLike" mode="change" type="model">
              <classes mode="replace"/>
            </classSpec>
          </schemaSpec>
        </div>
      </div>
    </body>
  </text>
</TEI>
