BestPractices/level4.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:s="http://purl.oclc.org/dsdl/schematron"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     xml:lang="en" >
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title>TEI in Libraries level 4</title>
	<author>
	  <name type="organization">TEI in Libraries SIG</name>
	  <name type="organization">DLF TEI Task Force</name>
	</author>
	<editor>
	  <name type="person">Kevin Hawkins</name>
	</editor>
	<editor>
	  <name type="person" xml:id="sbauman.emt">Syd Bauman</name>
	</editor>
      </titleStmt>
      <publicationStmt>
        <availability status="restricted">
	  <ab>Copyleft 2009 DLF</ab>
	  <p>Permission is granted to copy, distribute and/or modify
	  this document under the terms of the <ref target="http://www.gnu.org/licenses/fdl-1.2.html">GNU Free
	  Documentation License, Version 1.2</ref> or any later
	  version published by the Free Software Foundation; with no
	  Invariant Sections, no Front-Cover Texts, and no Back-Cover
	  Texts. A copy of the license is included in the document
	  entitled <name type="file">COPYING.txt</name>.</p>
	</availability>
      </publicationStmt>
      <sourceDesc>
	<p>No source in the transcriptional sense, but this document
	is a planned re-implementation of <bibl><title>TEI in
	Libraries: Guidelines for Best Practices</title> <author>TEI
	in Libraries SIG</author> <author>Digital Libraries Federation
	TEI task force</author> <ptr target="http://www.tei-c.org/wiki/index.php/TEI_in_Libraries:_Guidelines_for_Best_Practices"/>
      </bibl>
      written in a wiki language into the TEI ODD language. This
      verssion started <date when="2009-10-10"/>.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="#sbauman.emt" when="2009-10-10">
	Begun, based on level 3.
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <head>Best Practices for TEI in Libraries</head>
      <head>Level 4: Basic Content Analysis</head>
      <div type="setting">
	<p>This is the <name>level 4</name> portion of the <ref target="http://wiki.tei-c.org/index.php/Best_Practices_for_TEI_in_Libraries#LEVEL_4:_Basic_Content_Analysis">Best
	Practices for TEI in Libraries</ref>. This document is not
	intended to stand alone, but rather to be considered in
	concert with the entire TEI in Libraries recommendations.</p>
      </div>
      <divGen type="toc"/>
    </front>
    <body>
      <div type="reference">
	<head>Reference</head>
	<list>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COHQ">Chapter 3.3  Highlighting and Quotation, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COED">Chapter 3.4 Simple Editorial Changes, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#CONA">Chapter 3.5 Names, Numbers, Dates, Abbreviations, and Addresses, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COVE">Chapter 3.12.1 Core Tags for Verse, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#CODR">Chapter 3.12.2 Core Tags for Drama, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html">Chapter 4, Default Text Structure, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/VE.html">Chapter 6, Verse, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DR.html#DRCAST">Chapter 7.1.4 Performance Texts: castLists and castItems, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DR.html#DRDIV">Chapter 7.2.1 Performance Texts: Major Structural Divisions, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DR.html#DRSP">Chapter 7.2.2 Performance Texts: Speeches and Speakers, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DR.html#DRSTA">Chapter 7.2.3 Performance Texts: Stage Directions, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html">Chapter 13, Names, Dates, People, and Places, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/FT.html">Chapter 14, Tables, Formulæ, and Graphics, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/html/FT.html#FTGRA">Chapter 14.3 Specific Elements for Graphic Images, P5 Guidelines</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html">Chapter 16, Linking, Segmentation, and Alignment, P5 Guidelines</ref></item>
	</list>
	<p>Note that this is intended to be a <soCalled>TEI
	conformant</soCalled> customization, per <ref target="file:///Users/syd/Documents/P5/Guidelines-web/en/html/USE.html#CF">P5
	section 23.3</ref>.</p>
      </div>
      <div type="purpose">
	<head>Purpose</head>
	<p>To create text that can stand alone as electronic text,
	identifies hierarchy and typography, specifies function of
	textual and structural elements, and describes the nature of
	the content and not merely its appearance. This level is not
	meant to encode or identify all structural, semantic, or
	bibliographic features of the text.</p>
      </div>
      <div type="rationale">
	<head>Rationale</head>
	<p>Greater description of function and content allows for
	<list>
	  <item>flexibility of display and delivery</item>
	  <item>sophisticated searching within specified textual and structural elements</item>
	  <item>combining the broadest range of uses and audiences</item>
	</list>
	Texts encoded at Level 4 are able to stand alone without page
	images in order for them to be read by students, scholars, and
	general readers. This level of TEI encoding allows them to be
	displayed or printed in a variety of ways suitable for
	classroom or scholarly use.</p>
	<p>Level 4 texts contain elements and attributes that describe
	content. Features of the text that may contribute to meaning,
	such as indentation of verse lines and typographic change, are
	preserved. These are textual features that are not encoded at
	lower levels and that allow the text to be used and understood
	fully independent of images. The ability to stand alone as
	text means that Level 4 texts are more nimble and robust for
	exercises such as format repurposing and textual analysis.</p>
	<p>Finally, functionally accurate encoding in Level 4 texts
	allows them to be searched or displayed in sophisticated ways.
	For example, a searcher could limit his or her search in a
	dramatic text to stage directions or in a verse text to only
	first lines. In a political tract published by subscription, a
	search could be confined to names that appear in lists, thus
	limiting a search to names of people who subscribed to a
	particular volume. This ability to limit searches becomes more
	significant as textbases become larger, and thus is of great
	importance to the library community as it attempts to build
	into the initial design and implementation of textbases the
	features needed to enhance interoperability.</p>
	<list>
	  <head>Level 4 is most suitable for projects with the
	  following characteristics</head>
	  <item>sophisticated search and retrieval capabilities are
	  desired</item>
	  <item>the texts will be used for textual analysis</item>
	  <item>extensibility is desired; that is, one desires to keep
	  open the option for a higher level of encoding to be added
	  by the scholarly community at a later date</item>
	  <item>the users of the texts may have limited storage or
	  display capabilities</item>
	</list>
      </div>
      <div type="workflow">
	<head>Workflow</head>
	<p>Text is generated by keyboarding (likely outsourced double
	keyboarding from page images using TEI Tite) or possibly by
	correcting OCR text using software that identifies spelling
	mistakes and consults a log from the OCR software to find
	regions of uncertainty in the OCR text. If converting from TEI
	Tite, minimal additional markup must be added, as discussed in
	<ref target="http://www.tei-c.org/release/doc/tei-p5-exemplars/html/tei_tite.doc.html#tei-in-lib-bpg">Appendix
	A of TEI Tite</ref>.</p>
      </div>
      <div type="elrecs">
	<head>Element Recommendations for Level 4</head>
	<p>Use all elements specified in Levels 1, 2, and 3 except ab,
	plus elements in the following table. Note that some of these
	elements are defined in Level 3 as well, but their use in
	Level 4 is more strict.
	<table>
	  <row>
	    <cell><gi>titlePage</gi> and appropriate child elements</cell>
	    <cell>Required.</cell>
	  </row>
	  <row>
	    <cell><gi>group</gi></cell>
	    <cell>Required to encode a collection of independent texts that are regarded as a single group for processing or other purposes.</cell>
	  </row>
	  <row>
	    <cell><gi>list</gi> and <gi>item</gi></cell>
	    <cell>Required to indicate ordered and unordered list structures.</cell>
	  </row>
	  <row>
	    <cell><gi>table</gi>, <gi>row</gi>, and <gi>cell</gi></cell>
	    <cell>Required to indicate table structures.</cell>
	  </row>
	  <row>
	    <cell><gi>hi</gi></cell>
	    <cell>Required to indicate change in rendition when a more specific element is not being used; <att>rend</att> attribute is optional.</cell>
	  </row>
	  <row>
	    <cell><gi>emph</gi>, <gi>foreign</gi>, <gi>gloss</gi>, or <gi>term</gi></cell>
	    <cell>Recommended to identify typographically distinct text.</cell>
	  </row>
	  <row>
	    <cell><gi>title</gi></cell>
	    <cell>Recommended to identify typographically distinct
	    text. For <gi>title</gi> elements within the body of a
	    document, use the <att>type</att> attribute with a value
	    <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-title.html">as
	    given in the full TEI guidelines</ref> except for main
	    titles. (The <val>main</val> attribute should be used,
	    when appropriate, for <gi>title</gi>s within a TEI Header,
	    but is not needed for <gi>title</gi>s elsewhere in a
	    document.)</cell>
	  </row>
	  <row>
	    <cell><gi>epigraph</gi>, <gi>quote</gi>, <gi>said</gi>, <gi>mentioned</gi>, or <gi>soCalled</gi></cell>
	    <cell>Recommended to represent speech, thought, quotation, etc.</cell>
	  </row>
	  <row>
	    <cell><gi>sic</gi>, <gi>corr</gi>, or <gi>choice</gi></cell>
	    <cell>Recommended to encode errors or typos.</cell>
	  </row> 
	  <row>        
	    <cell><gi>opener</gi>, <gi>dateline</gi>, <gi>salute</gi> <gi>closer</gi>, <gi>signed</gi>, <gi>postscript</gi></cell>
	    <cell>Required to indicate specific parts of letters.</cell>
	  </row> 
	  <row>        
	    <cell><gi>argument</gi></cell>
	    <cell>Recommended to encode a “list of topics sometimes found at the start of a chapter or other division.”</cell>
	  </row> 
	  <row>        
	    <cell><gi>trailer</gi></cell>
	    <cell>Recommended to encode a “closing title or footer” at the end of a division.</cell>
	  </row> 
	  <row>        
	    <cell><gi>add</gi>, <gi>del</gi>, <gi>gap</gi>, and <gi>unclear</gi></cell>
	    <cell>Recommended to encode material that is omitted, added, marked for deletion, or is illegible, invisible, or inaudible. </cell>
	  </row> 
	  <row>        
	    <cell><gi>figure</gi>, <gi>head</gi>, <gi>figDesc</gi>, and <gi>graphic</gi></cell>
	    <cell>Used to refer to illustrative images and descriptive information about those images.</cell>
	  </row> 
	  <row>        
	    <cell><gi>castList</gi>, <gi>castItem</gi>, <gi>sp</gi>, <gi>speaker</gi>, and <gi>stage</gi></cell>
	    <cell>Required to encode different structures in performance texts (i.e. drama).</cell>
	  </row> 
	  <row>        
	    <cell><gi>sp</gi> and <gi>speaker</gi></cell>
	    <cell>Required to encode oral history interviews.</cell>
	  </row> 
	  <row>        
	    <cell><gi>persName</gi>, <gi>placeName</gi>, <gi>geogName</gi>, and <gi>orgName</gi> </cell>
	    <cell>Recommended to encode personal, place, and organizational names used in a text.</cell>
	  </row> 
	  <row>        
	    <cell><gi>listPerson</gi>, <gi>listPlace</gi>, and <gi>listOrg</gi> </cell>
	    <cell>Recommended in support of personal, place, and
	    organizational names normalization and to capture
	    additional information about the names. Should be captured
	    in an external TEI file or database for easier maintenance
	    of names.</cell>
	  </row> 
	</table>
	</p>
      </div>
      <div type="grecs">
	<head>General Level 4 Recommendations and Examples</head>
	<list>
	  <item>The use of <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-group.html"><gi>group</gi></ref> is required when you need to encode a body of distinct texts that are grouped together and are regarded as a unit. Most typical examples of such composite texts would be anthologies, collected works of an author, etc. Section <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html#DSGRP">4.3.1 Grouped Texts</ref> states, <quote>The presence of common front matter referring to the whole collection, possibly in addition to front matter relating to each individual text, is a good indication that a given text might usefully be encoded in this way.</quote></item>
	  <item>Typographically distinct text may be encoded using the following elements:<list>
	  <item>to represent speech, thought, quotation, etc.:<list>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-epigraph.html">epigraph</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-quote.html">quote</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-said.html">said</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-mentioned.html">mentioned</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-soCalled.html">soCalled</ref></item></list></item>
	  <item>to represent foreign words or phrases, linguistically emphatic or stressed words or phrases, words regarded as technical terms, etc.:<list>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-emph.html">emph</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-foreign.html">foreign</ref> (e.g. <tag>foreign xml:lang="fr"</tag>)</item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-gloss.html">gloss</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-term.html">term</ref></item>
	  <item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-title.html">title</ref></item></list></item></list></item>
	  <item>Any ambiguous typographically distinct text should be encoded as <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-hi.html">hi</ref> (e.g. <tag>hi rend="font-weight: bold"</tag>). This element may also be used if the more specific elements above are not used.</item>
	  <item>Any of the following three methods may be used to encode errors or typos in original texts:<list>
	  <item> the <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-sic.html">sic</ref> element used alone is recommended to indicate errors without correcting them</item>
	  <item> the <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-corr.html">corr</ref> element used alone is recommended to provide corrections without indicating the initial error</item>
	  <item> the <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-choice.html">choice</ref> element allows both the apparent error and its editorial correction to be recorded, as in the following examples:
	  <egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-TBSoS">
	    <p>He has no Scruple about Fish; but won't touch a bit of Pork, it being 
	    <choice>
	      <sic>expresly</sic>
	      <corr>expressly</corr>
	    </choice> forbidden by their Law.</p>
	  </egXML>
	  <bibl xml:id="BIB-TBSoS"><author>Thomas Bluett</author> <title>Some Memoirs of the Life of Job, the Son of Solomon,
	  the High Priest of Boonda in Africa; Who was a Slave About Two Years in Maryland; and Afterwards Being Brought to England, was Set Free, and Sent to His Native Land in the Year 1734.</title> London: Printed for R. Ford, 1734.</bibl>
	  or
	  <egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-AMBS">
	    <p>4. The art of writing she obtained by her own industry and curiosity, and in so
	    short a time that in the year 1765, when she was not more than twelve years of
	    <choice>
	      <sic>age,she</sic>
	      <corr>age, she</corr>
	    </choice>
	    was capable of writing letters to her friends <pb xml:id="p11" n="11"/> on various
	    subjects. She also wrote to several persons in high stations.</p>
	  </egXML>
	  <bibl xml:id="BIB-AMBS"><author><name type="perason">Abigail Mott</name>, 1766-1851</author> <title>Biographical Sketches and Interesting Anecdotes of Persons of Colour. To Which is Added, a Selection of Pieces in Poetry.</title> New-York: M. Day, 1826. </bibl>
	  </item>
	  </list></item>
	  <item>Use <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-argument.html"><gi>argument</gi></ref> to encode a prefatory list or prose description of the topics usually discovered at the beginning of a chapter. The content within the <gi>argument</gi> element can be presented as a list or as a paragraph: 
	  <egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-OVRAHoB">
	    <div type="chapter" n="1">
	      <pb xml:id="albert14" n="14"/>
	      <head>CHAPTER I.<lb/>CHARLOTTE BROOKS.</head>
	      <argument>
		<p>Causes of immorality among colored people - Charlotte Brooks - She is sold South -
		Sunday work.</p>
	      </argument>
	      <p> ... </p>
	    </div>
	  </egXML>
	  <bibl xml:id="BIB-OVRAHoB"><author>Octavia V. Rogers Albert</author> <title>The House of Bondage, or, Charlotte Brooks and Other Slaves, Original and Life Like, As They Appeared in Their Old Plantation and City Slave Life; Together with Pen-Pictures of the Peculiar Institution, with Sights and Insights into Their New Relations as Freedmen, Freemen, and Citizens.</title> New York: Hunt &amp; Eaton, 1890.</bibl>
	  </item>
	  <item>The <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-trailer.html"><gi>trailer</gi></ref> element is recommended to encode a heading- or title-like content at the end of a division (i.e. chapter, book, etc.):
	  <egXML xmlns="http://www.tei-c.org/ns/Examples">
	    <body>
	      <head><ref target="book">title</ref></head>
	      <div type="chapter" n="1">
		<head><ref target="chapter">title</ref></head>
		<p>[text]</p>
		<trailer>Here ends the Chapter 1.</trailer>
	      </div>
	      <div type="chapter" n="2">
		<head><ref target="chapter">title</ref></head>
		<p>[text]</p>
		<trailer>Here ends the Chapter 2.</trailer>
	      </div>
	      <trailer>FINIS.</trailer>
	    </body>
	  </egXML>
	  </item>
	  <item>The elements <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-add.html"><gi>add</gi></ref>, <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-del.html"><gi>del</gi></ref>, <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-unclear.html"><gi>unclear</gi></ref>, <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-gap.html"><gi>gap</gi></ref> may be used to indicate instances when a text (i.e. word or part of it, phrase or part of it) has been added, marked for deletion, or to indicate cases where transcription is difficult (<gi>unclear</gi>) or impossible (<gi>gap</gi>) because the material is illegible, invisible, or inaudible (i.e. while transcribing oral history interviews):
	  <egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-JHLCC">
	    <p>But it is well authenticated by the observation of every one, that <del rend="text-decoration: line-through" hand="#JHL">their manner</del> 
	    <add rend="vertical-align: super" hand="#JHL">this way—i.e.
	    the above</add> of writing influences the style of compos. of those who practise it
	    considerably, when they grow up to years of manhood; for their productions, <del hand="#JHL" rend="text-decoration: line-through">instead</del> far from being terse, argumentative,
	    convincing, are without head or tail &amp;amp; are generally an incongruous mass mixed up in the
	    most disgusting manner, without divisions or heads &amp;amp; in short without a subject (so to
	    speak).</p>
	  </egXML>
	  <bibl xml:id="BIB-JHLCC"><title>Class Composition of J. Horace Lacy</title> [January 1851] 1. <author><name type="person">Lacy, James Horace</name> 1834-1852</author></bibl>
	  <egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-KFPC01">
	    <p>But I still hope for &amp;amp; trust in God and I believe he will animate our brave
	    defenders with a superhuman power and we will yet drive from our soil the hated invaders
	    whose tread <gap reason="ink blot"/> profanation, but this is an hour to try
	    men's souls—Fort Donelson has been taken by the enemy.  Frank was there and covered
	    himself with honor but his bravery cost him a wound; he was wounded in the leg slightly—a
	    flesh wound only, you must not be uneasy.</p>
	  </egXML>
	  <bibl xml:id="BIB-KFPC01">Kimberly Family Personal Correspondence, 1862-1864. Transcript of the manuscript, UNC-Chapel Hill, Southern Historical Collection.</bibl>
	</item></list>
	<div type="subsection">
	  <head>Level 4 Front and Back Matter</head>
	  <list>
<item>The use of the <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-titlePage.html"><gi>titlePage</gi></ref> element with appropriate child elements describing the major features of most title pages is required.  The child elements are listed in <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html#DSTITL">Section 4.6 "Title Pages"</ref>.</item>
<item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-titlePage.html"><gi>titlePage</gi></ref> should include the verso if present, divided by <tag>pb n="verso"/</tag>. </item>
<item>Frontispieces should be encoded as a <gi>figure</gi>, within a separate division (numbered or unnumbered, depending on the general editorial decision for a specific encoding project) and <gi>p</gi>.</item>
<item>Tables of contents, errata, subscription lists, “other titles by the same author” should be included in a separate division (numbered or unnumbered, depending on the general editorial decision for a specific encoding project), as a <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-list.html"><gi>list</gi></ref> with <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-item.html"><gi>item</gi></ref>s. </item>
<item>It is recommended that all prefaces, tables of contents, afterwords, appendices, endnotes, and apparatus be encoded with phrase-level elements.</item>
<item>For publishers’ advertisements, indexes, and glossaries, or other front or back matter that are not considered of primary importance to the text, there are three options:<list>
  <item>Fully transcribe and encode. For an index, use <tag>type="index"</tag> on the <gi>div</gi>, with <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#CONOIX"><gi>list</gi>s</ref> to mark up index entries. Use <tag>ref target="____"</tag> to mark up page numbers given in the index, with the value of <att>target</att> referring to the <att>xml:id</att> attribute of the <gi>pb</gi> of the referenced page.</item>
  <item>Link to page images (may omit encoded transcription)</item>
  <item>Fully omit and note the omission in <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-samplingDecl.html"><gi>samplingDecl</gi></ref></item>
  </list></item></list>
	</div>
	<div type="subsection">
	  <head>Level 4 Name Tagging</head>
<list>
<item><ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDATTSnr">Chapter 13.1.1, Linking Names and Their Referents</ref></item>
</list>
<p>Names should be encoded using <gi>persName</gi>, <gi>placeName</gi>, <gi>geogName</gi>, and <gi>orgName</gi> elements with the <att>ref</att> or <att>key</att> attribute providing a reference to a <gi>person</gi>, <gi>place</gi>, or <gi>org</gi> element in an external file or database for managing name normalization and compilation of additional information such as biographical or geospatial information. See the <ref target="[#key_and_ref|discussion">of <att>ref</att> and <att>key</att></ref>] above for how to choose between them.</p>
<p>If using <att>key</att>, provide a unique internal identifier, such as in a local database.</p>
<p>If using <att>ref</att>, an external TEI file may contain an entry for each name, grouped accordingly under <gi>listPerson</gi>, <gi>listPlace</gi>, and <gi>listOrg</gi>, which is uniquely identified with an <att>xml:id</att> attribute. In such a case the value of the <att>ref</att> attribute in the main TEI document (the transcription of the source document) references the value of the <att>xml:id</att> attribute in the external file. (In the examples below, the external file is named <att>context.xml</att> for “contextual information” and is in the same directory as the source file, but it may be named anything and placed anywhere that can be referenced by a URI.)</p>
<p>When referencing external files or databases, it is strongly recommended to provide an explanation in the <gi>editorialDecl</gi> section of the TEI header. References to controlled vocabularies and national or local authority files may be signified by a prefix in the <att>xml:id</att> attribute (e.g., <att>tgn_0000000</att> for the <title>Getty Thesaurus of Geographic Names</title>). When referencing a controlled vocabulary be sure to specify this information in the <gi>classDecl</gi> section of the TEI header.</p>
<list>
<item>Place-name tagging example in main TEI document (the transcription of the source document):
<egXML xmlns="http://www.tei-c.org/ns/Examples">     
<p>The first Jews arrived in <placeName ref="context.xml#tgn_7012924">Indianapolis</placeName> in
  the middle of the 19th century. Primarily immigrants from <placeName ref="context.xml#tgn_7000084"> Germany</placeName> and other points in central Europe (though many had lived elsewhere in the
    <placeName ref="context.xml#tgn_7012149">United States</placeName> before they arrived in the
  city), they were drawn from throughout the Midwest by the growth of commerce and rail lines in
    <placeName ref="context.xml#tgn_7012924">Indianapolis</placeName>. </p>
</egXML></item>
<item>In the external file <name type="file">context.xml</name>, for maintaining place name normalization and additional information:
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<listPlace>
  <place xml:id="tgn_7012924">
    <placeName>
      <settlement type="city">Indianapolis</settlement>
      <region type="state">Indiana</region>
    </placeName>
  </place>
  <place xml:id="tgn_7000084">
    <placeName>
      <country xml:lang="de">Deutschland</country>
    </placeName>
  </place>
  <place xml:id="tgn_7012149">
    <placeName>
      <country>United States</country>
    </placeName>
  </place>
</listPlace>
</egXML></item>
<item>Personal and organizational name tagging example in main TEI document (the transcription of the source document):
<egXML xmlns="http://www.tei-c.org/ns/Examples">    
  <p>PRIZE LIBRARY GIFT-Indiana University President <persName ref="context.xml#lcnaf_82134365">Elvis J. Stahr</persName> (right), a former law dean and practicing attorney, reminisces with
    Professor of Law <persName ref="context.xml#lcnaf_00113347">W. Howard Mann</persName> as the two
    inspect some of the nearly 3,000 volumes of <orgName ref="context.xml#lcnaf_79006848">U.S.
      Supreme Court</orgName> records recently transferred to I.U. from the <orgName ref="context.xml#lcnaf_79109178">Indiana Supreme Court Library</orgName>. The collection,
    dating back to 1925, is one of the oldest and most complete sets in existence.</p>
</egXML></item>
<item>In the external file <name type="file">context.xml</name>, for maintaining personal and organization name normalization and additional information:
<egXML xmlns="http://www.tei-c.org/ns/Examples">
  <listPerson>
    <person xml:id="lcnaf_82134365">
      <persName>
        <surname>Stahr</surname>
        <forename type="first">Elvis</forename>
        <forename type="middle">J.</forename>
      </persName>
      <birth when="1916"/>
    </person>
    <person xml:id="lcnaf_00113347">
      <persName>
        <surname>Mann</surname>
        <forename type="first">W.</forename>
        <forename type="middle">Howard</forename>
      </persName>
    </person>
  </listPerson>
    <listOrg>
    <org xml:id="lcnaf_79006848">
      <orgName>United States. Supreme Court</orgName>
    </org>
    <org xml:id="lcnaf_79109178">
      <orgName>Indiana. Supreme Court</orgName>
    </org>
  </listOrg>
</egXML></item>
<item>Alternatively, instead of using an external file for the authority data, use the <att>key</att> attribute to point to a unique key in a MySQL table that stores information like county name, FIPS county code, and latitude/longitude values:
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<p>When Harry Byrd "retired" to his orchards and Rosemont, his new house outside 
<placeName key="1498453">Berryville</placeName> in 1930, he was still an energetic 
young man with a long political career ahead of him.</p>
</egXML></item>
</list>
	</div>
	<div>
	  <head>Level 4 Figures</head>
<p>
<gi>figure</gi> groups elements representing or containing graphic information such as an illustration or figure; in this context <gi>figure</gi> typically contains the following elements:
<list>
<item><gi>head</gi>, containing a literal transcription of a caption on a figurative image.</item>
<item><gi>figDesc</gi>, containing a free text description of the image used, potentially, for searching the images themselves.</item>
<item><gi>graphic</gi>, pointing to the URI of the image itself using a <att>url</att> attribute and containing other presentation instructions such as dimension at which the graphic should be displayed, etc.</item>
</list>
</p>
<p>An example of frontispiece encoding: 
<egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-NoST">
<front>
    <div type="frontispiece">
       <figure>
          <head>Sojourner Truth.</head>          
          <figDesc>Woodcut of Sojourner Truth.</figDesc>
          <graphic url="http://docsouth.unc.edu/neh/truth50/frontis.html" scale="0.5"/>
       </figure>
    </div>
    <ref target="Etc">...</ref>
</front>
</egXML>
<bibl xml:id="BIB-NoST"><title>Narrative of Sojourner Truth, a Northern Slave, Emancipated from Bodily Servitude by the State of New York, in 1828</title></bibl>
</p>
	</div>
<div type="subsection">
<head>Level 4 Embedded Texts </head>
<p>At Level 4, texts embedded within other texts must be marked as such.</p>
<p>In the case of a quotation from another text, use <gi>quote</gi>, and do not include quotation marks in the content of this element or just outside the opening and closing tags. If the rendering of this quotation needs to be recorded, use the <att>rend</att> attribute to describe how this quotation is set off from the rest of the text.</p>
<p>If the embedded text is more than a short quotation, use <gi>floatingText</gi> even if only an excerpt of the embedded texts is provided.  If your project uses <gi>quote</gi> to identify quotations, surround instances of floating texts which are quotations with <gi>quote</gi> tags.</p>
<p>Personal letters are a common example of an embedded text. While a collection of letters would use a <gi>div</gi> element for each letter, if a letter is quoted as part of a larger text, use <gi>floatingText</gi> <gi>body</gi> <tag>div1 type="letter"</tag> with <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-opener.html"><gi>opener</gi></ref>, <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-dateline.html"><gi>dateline</gi></ref>, <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-salute.html"><gi>salute</gi></ref>, <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-signed.html"><gi>signed</gi></ref>,  <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-closer.html"><gi>closer</gi></ref>, <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-postscript.html"><gi>postscript</gi></ref> included as appropriate.  For example:
<egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-ABLMWW">
<p>She opened and read as follows:</p>
          <floatingText>
              <body>
                <div1 type="letter">
                  <opener>
                    <dateline>AUGUSTA, March 4th, 18—</dateline>
                    <salute>
                      <hi rend="font-style: italic">Mrs. A. Mitten:</hi>
                    </salute>
                  </opener>
                  <p>"Having recently understood that you have procured a private teacher, we have
ventured to stop your advertisement, <hi rend="font-style: italic">though ordered to continue it
until forbid,</hi> under the impression that you have probably forgotten to have it
stopped. If, however, we have been misinformed, we will promptly resume the
publication of it. You will find our account below; which as we are much in want of
funds, you will oblige us by settling as soon as convenient. Hoping your teacher is
all that you could desire in one,</p>
                  <closer>
                    <salute>"We remain, your ob't. serv'ts,</salute>
                    <signed>"H—&amp;amp; B—&amp;#x201D;</signed>
                  </closer>
                </div1>
              </body>       
         </floatingText>
</egXML>
<bibl xml:id="BIB-ABLMWW"><author><name>Augustus Baldwin Longstreet</name>, 1790-1870</author> <title>Master William Mitten: or, A Youth of Brilliant Talents, Who Was Ruined by Bad Luck.</title> Macon, Ga.: Burke, Boykin, 1864.</bibl>
</p>
</div>
<div type="subsection">
<head>Level 4 Drama</head>
<list>
<item>Within the front matter (<gi>front</gi>) of a performance text, cast lists should be encoded as <gi>castList</gi>s, with each item in that list encoded as <gi>castItem</gi>s. If desired, each <gi>castItem</gi> may be uniquely identified with the <att>xml:id</att> attribute.
For example,
<egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-SKL">
<front>
    <castList><head>Dramatis Personae</head>
        <castItem xml:id="kllear">LEAR king of Britain</castItem>
        <castItem xml:id="klfrance">KING OF FRANCE</castItem>        
        <castItem xml:id="klburgundy">DUKE OF BURGUNDY</castItem>
        <castItem xml:id="klcornwall">DUKE OF CORNWALL</castItem>
        <castItem xml:id="klalbany">DUKE OF ALBANY</castItem>
        <castItem xml:id="klkent">EARL OF KENT</castItem>
        <castItem xml:id="klgloucester">EARL OF GLOUCESTER</castItem>
        <castItem xml:id="kledgar">EDGAR son to Gloucester.</castItem>
        <castItem xml:id="kledmund">EDMUND bastard son to Gloucester.</castItem> 
        <!-- ... -->
    </castList>
</front>
</egXML>
<bibl xml:id="BIB-SKL">Shakespeare’s <title>King Lear</title></bibl>
</item>
<item>Within the body of performative texts, speeches are encoded as <gi>sp</gi> and speakers identified by the <gi>speaker</gi> element, which is a child of <gi>sp</gi>.</item>
<item>Stage directions are encoded as <gi>stage</gi> and enclose content describing scenery, stage directions, etc.</item>
<item>When encoding the actual speech content itself, utilize elements and attributes that correspond to the type of dramatic speech presented (e.g. <gi>p</gi> for prose speech with <gi>lb</gi> to designate a new line in a particular edition of the text or <gi>lg</gi> and <gi>l</gi> to describe dramatic verse structures).</item>
<item>If referencing the <att>xml:id</att> defined in the <gi>castList</gi> is desired, use the <att>who</att> attribute for the IDREF datatype.
<egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-SKL">
<div type="act" n="1">
    <head>Act 1</head>
    <div type="scene" n="1">
        <head>Scene 1</head>
           <stage>King Lear's palace.</stage>
           <stage>Enter KENT, GLOUCESTER, and EDMUND</stage>

           <sp n="1">
               <speaker who="klkent">KENT</speaker>
               <p>I thought the king had more affected the Duke of<lb/>
               Albany than Cornwall.</p>
           </sp>
           <sp n="2">
               <speaker who="klgloucester">GLOUCESTER</speaker>
               <p>It did always seem so to us: but now, in the<lb/>
               division of the kingdom, it appears not which of<lb/>
               the dukes he values most; for equalities are so<lb/>
               weighed, that curiosity in neither can make choice<lb/>
               of either's moiety.</p>
           </sp>
           <sp n="3">
                <speaker who="klkent">KENT</speaker>
                <p>Is not this your son, my lord?</p>
           </sp>
          <!-- ... -->
     </div>
</div>
</egXML>
</item></list>
</div>
<div type="subsection">
<head>Level 4 Oral History</head>
<p>Speakers in oral history interviews, i.e. interviewee(s) and interviewer(s), may be identified in the <gi>teiHeader</gi> in several ways: <list>
<item>In the <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-profileDesc.html"><gi>profileDesc</gi></ref>, in the <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-particDesc.html"><gi>particDesc</gi></ref>, using the <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-list.html"><gi>list</gi></ref> element, with <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-name.html"><gi>name</gi></ref> inside of <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-item.html"><gi>item</gi></ref>s</item>
<item>As a list of author <gi>name</gi>s within <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/HD.html#HD2"><gi>fileDesc</gi></ref> / <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/HD.html#HD21"> <gi>titleStmt</gi></ref></item>
</list>
</p>
<p>In either method, use an <att>xml:id</att> on the <gi>name</gi> element to uniquely identify the individual participant:<list>
<item>The list of an interview’s participants can be also listed within the body of the interview (see example below). </item>
<item>Questions and answers from interviewees and interviewers are encoded as <gi>sp</gi>, with speakers identified within <gi>speaker</gi> elements with a <att>who</att> attribute the value of which corresponds to the <att>xml:id</att> in the list of interview participants.</item></list></p>
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<list type="simple">
<head>Interview Participants</head>
   <item>
   <name xml:id="spk1" key="wf" reg="Friday, William C." type="interviewee">WILLIAM C. FRIDAY
   </name>, interviewee
   </item>
   <item>
   <name xml:id="spk2" key="wl" reg="Link, William" type="interviewer">WILLIAM LINK</name>, interviewer
   </item>
</list>

<!-- ... -->

<sp who="spk2">
  <speaker n="2">WILLIAM LINK:</speaker>
     <p>Last time we were talking about Frank Porter Graham. And I have a couple of questions
about Graham, and I wonder if you could clear them up for me. You have mentioned that you
had worked with him as a student at North Carolina State, had you met him before?
     </p>
</sp>
<sp who="spk1">
   <speaker n="1">WILLIAM C. FRIDAY: </speaker>
     <p>No. That budget hearing was the first that I knew of him, of course, but the first time 
that I ever encountered him. I was president of class at N.C. State, and that through me into 
this kind of public adventure. And so I went merrily on downtown and sat there in the budget 
hearing, along with the president of the student body, and some others. 
     </p>
</sp>
</egXML>
<p>One possible way to synchronize audio and transcript has been introduced in <ref target="http://docsouth.unc.edu/sohp/">Oral Histories of the American South</ref>, using <ref target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-milestone.html"><gi>milestone</gi></ref> with a timestamp attribute:
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<milestone n="7248" unit="empty" type="stop" timestamp="00:08:54"/>
</egXML>
</p>
</div>
<div type="subsection">
<head>Level 4 Verse</head>
<p>Use <gi>lg</gi> and <gi>l</gi> as in Level 3. In addition, use the <att>rend</att> attribute to indicate lines that are indented.</p>
<p>For example,
<egXML xmlns="http://www.tei-c.org/ns/Examples" corresp="#BIB-LCHoS">
<div type="fit" n="1">
<head>Fit the First: THE LANDING</head>

    <lg type="stanza" n="1">
        <l n="1.1">"Just the place for a Snark!" the Bellman cried,</l>
        <l rend="margin-left: 0.5in" n="1.2">As he landed his crew with care;</l>
        <l n="1.3">Supporting each man on the top of the tide</l>
        <l rend="margin-left: 0.5in" n="1.4">By a finger entwined in his hair.</l>
    </lg>

    <lg type="stanza" n="2">
        <l n="2.1">"Just the place for a Snark! I have said it twice:</l>
        <l rend="margin-left: 0.5in" n="2.2">That alone should encourage the crew.</l>
        <l n="2.3">Just the place for a Snark! I have said it thrice:</l>
        <l rend="margin-left: 0.5in" n="2.4">What I tell you three times is true."</l>
    </lg>

    <!-- ... -->

</div> 
</egXML>
<bibl xml:id="BIB-LCHoS">Lewis Carroll’s <title>The Hunting of the Snark</title></bibl>
</p>
</div>
<div type="subsection">
<head> Level 4 Milestones </head>
<p>Instead of using the <gi>milestone</gi> element available in TEI, use <tag>ab type="typography"</tag>.  The content of this element is the character(s) or device used to mark the milestone in the source document.  For example:
<egXML xmlns="http://www.tei-c.org/ns/Examples">
<ab type="typography">*****</ab>
</egXML>
</p>
</div>
<div type="subsection">
<head> Level 4 Alger Hiss document </head>
<p>Note that the soft hyphen character is displayed as an entity reference because this character will not display in many web browsers.</p>
<egXML xmlns="http://www.tei-c.org/ns/Examples"><TEI xml:id="project_document_identifier">
  <teiHeader xml:lang="en">
    <!-- header goes here -->
  </teiHeader>
    <text xml:lang="en">
      <body>
        <div1>
          <pb n="113" facs="./pageImages/AH4_0113.jpg" ed="typed"/>
          <pb n="118" ed="subsequent"/>
          <head>POINT VIII.</head>
          <head>BECAUSE OF UNLAWFUL SURVEILLANCE, PETITIONER'S
            <lb/>CONVICTION SHOULD BE VACATED; ALTERNATIVELY,
            <lb/>DISCOVERY AND A HEARING SHOULD BE ORDERED.</head>
          <p>The nature and extent of surveillance of Hiss, his
            <lb/>family and associates was not known at the time of trial by
            <lb/>the defense.  Even now, with the release of some of the govern&amp;#xAD;
            <lb/>ment documents concerning FBI investigative techniques regarding
            <lb/>Hiss, the full extent of surveillance -- wiretapping, mail open&amp;#xAD; 
            <lb/>ings, mail covers, physical surveillance, and other intrusive
            <lb/>techniques -- is still not 'clear.  Nevertheless, it is apparent
            <lb/>that information gathered through the exploitation of unlawful
            <lb/>wiretaps and other illegal surveillance was used at trial and
            <lb/>consequently the conviction must be reversed.  Alternatively,
            <lb/>further discovery and a hearing is essential to a fair deter&amp;#xAD; 
            <lb/>mination regarding these issues.</p>
          <p>FBI surveillance of Hiss began in earnest in 1941 with 
            <lb/>the institution of a mail cover on his incoming correspondence
            <lb/>at his home in connection with an FBI investigation of possible
            <lb/>Hatch Act violations.  CN Ex. 98A. Another mail cover was placed
            <pb n="114" facs="./pageImages/AH_0114.jpg"/>
            <pb n="119" ed="subsequent"/>
            on the Hiss mail in 1945, and at the same time the FBI obtained
            <lb/>toll call records from the Hiss residence Telephone for the
            <lb/>years 1943 and 1944 as well.  CN Ex. 99.  In September, 1945,
            <lb/>the FBI intercepted telegrams to Hiss as well.  CN Ex. 100.</p>
          <p>In late November, 1945, FBI surveillance of the Hiss
            <lb/>residence in Washington, D.C., escalated.  For the third time,
            <lb/>a mail cover was instituted beginning on November 28, 1945,
            <lb/>which was continued at least until 1946.  CN Ex. 101 at p. 70;
            <lb/>CN Ex. 102.  Continuous physical surveillance of Hiss was begun
            <lb/>as well.  CN Ex. 101 at p. 72.  Although this twenty-four-hour
            <lb/>surveillance was discontinued on December 14, 1945, physical
            <lb/>surveillance was conducted frequently at various times until
            <lb/>September, 1947.<note place="foot" anchored="true" n="68">Also
              before 1947, a letter from Priscilla Hiss addressed
              <lb/>to her son, Timothy Hobson, was intercepted and its contents
              <lb/>read.  CN Ex. 100A at p. 167.  In approximately March, 1947,
              <lb/>a letter from a Michael Greenberg addressed to petitioner re&amp;#xAD; 
              <lb/>garding an application for employment with the United Nations
              <lb/>was also intercepted, in a manner not revealed by the docu&amp;#xAD; 
              <lb/>ments.  CN Ex. 100B</note>  CN Ex. 102; CN Ex. 103.</p>
          <p>The most intrusive invasion of petitioner's rights
            <pb n="115" facs="./pageImages/AH_0115.jpg"/>
            <pb n="120" ed="subsequent"/>
            <lb/>occurred from December 13, 1945 until the Hisses moved from
            <lb/>Washington, D.C. to New York City on September 13, 1947.  A
            <soCalled>technical surveillance</soCalled>, -- a wiretap -- was placed on the Hiss
            <lb/>telephone at their residence on P Street-in Washington, D.C.
            <lb/>The logs of this surveillance constitute twenty-nine volumes
            <lb/>of FBI serials and are roughly 2,500 pages in length, in which
            <lb/>an enormous amount of information concerning the Hisses' per&amp;#xAD;
            <lb/>sonal lives, relationships with friends and associates, and
            <lb/>habits is recorded.</p>          
          <p>The wiretap was installed following FBI Director Hoover's
            <lb/>application to the Attorney General for authorization,
              <note place="bottom" anchored="true" n="69">Hoover's
              initial request was answered by a note reques&amp;#xAD; 
              <lb/>ting information on Hiss.  CN Ex. 104<sic> </sic>.  Additional information
              <lb/>was furnished by letter dated November 30, 1945.  CN Ex. 105<sic> </sic>.</note>
            <lb/>although no written authorization appears in the documents released to
            <lb/>Hiss.  The purpose of the application was to gather information
            <lb/>regarding Hiss' alleged contacts with Soviet espionage agents and
            <lb/>communists in government service, general allegations which had
            <lb/>been made by Elizabeth Bentley and Chambers.</p>
          <p>As one would expect, the interception of every telephone</p>
        </div1>
      </body>
    </text>
  </TEI></egXML>
</div>      </div>
      <!-- ********************************************* -->
      <div type="specification">
	<head>Specification</head>
	<schemaSpec ident="lib4" docLang="en" xml:lang="en" prefix="lib4_">
	  <moduleRef key="core"/>
	  <moduleRef key="tei"/>
	  <moduleRef key="header"/>
	  <moduleRef key="textstructure"/>
	  <moduleRef key="figures"/>     <!-- for <table>, <row>, <cell>, and <figure> -->
	  <moduleRef key="transcr"/>     <!-- for facs= -->
	  <moduleRef key="namesdates"/>  <!-- for <orgName> and <persName> -->
	  <moduleRef key="drama"/>
          <!-- ****************************************** -->
          <!-- Changes to elements, in alphabetical order -->
          <!-- ****************************************** -->
	  <elementSpec module="textstructure" ident="TEI" mode="replace">
	    <gloss>TEI document</gloss>
            <desc>contains a single TEI-in-Libraries level 3 document,
            comprising a TEI header and a text, the latter represented
            as either a transcription (in <gi>text</gi>) or a
            transcription and page images (in <gi>facsimile</gi>),
            either in isolation or as part of a <gi>teiCorpus</gi>
            element.</desc>
            <content>
	      <rng:ref name="teiHeader"/>
	      <rng:zeroOrMore>
		<rng:ref name="model.resourceLike"/>
	      </rng:zeroOrMore>
	      <rng:ref name="text"/>
            </content>
	    <attList>
	      <attDef ident="version" usage="opt">
		<desc>The version of the TEI scheme</desc>
		<datatype>
		  <rng:data type="decimal"/>
		</datatype>
		<defaultVal>5.0</defaultVal>
		<valDesc>A number identifying the version of the TEI guidelines</valDesc>
	      </attDef>
	    </attList>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<TEI>
		  <teiHeader>
		    <fileDesc>
		      <titleStmt>
			<title>A Short Level 3 Document</title>
		      </titleStmt>
		      <publicationStmt>
			<p>Only published as an example.</p>
		      </publicationStmt>
		      <sourceDesc>
			<p>Since this is an example, it doesn't really have a source</p>
		      </sourceDesc>
		    </fileDesc>
		  </teiHeader>
		  <text>
		    <body>
		      <div type="chapter" n="1">
			<head>The Bride</head>
			<p>The year that Buttercup was born, the most beautiful woman
			<lb/>in the world …</p>
			<!-- rest of chapter 1 -->
		      </div>
		      <div type="chapter" n="2">
			<head>The Groom</head>
			<note>
			  <p>This is my first major excision. Chapter One, The Bride, is almost
			  <lb/>in its entirety about the bride. …</p>
			</note>
			<!-- rest of chapter 2 -->
		      </div>
		      <!-- rest of the book -->
		    </body>
		  </text>
		</TEI>
	      </egXML>
	    </exemplum>
	    <remarks>
	      <p>This element is required. The TEI namespace should be specified on this element.</p>
	    </remarks>
	    <listRef>
	      <ptr target="#DS"/>
	      <ptr target="#CCDEF"/>
	    </listRef>
	  </elementSpec>
	  <elementSpec module="core" ident="author" mode="replace">
	    <desc>in a bibliographic reference, contains the name
	    (typically encoded as <gi>name</gi>, <gi>persName</gi>, or
	    <gi>orgName</gi>) of the author, personal or corporate, of
	    a work; for example in the same form as that provided by a
	    recognized bibliographic name authority. </desc>
	    <classes>
	      <memberOf key="att.canonical"/>
	      <memberOf key="model.respLike"/>
	    </classes>
	    <content>
	      <rng:ref name="macro.phraseSeq"/>
	    </content>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<author><orgName>British Broadcasting Corporation</orgName></author>
	      </egXML>
	    </exemplum>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<author><persName ref="#mdalmau.cny">Michelle Dalmau</persName></author>
	      </egXML>
	    </exemplum>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<author><name>Matthew Gibson</name></author>
	      </egXML>
	    </exemplum>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<author>anonymous</author>
	      </egXML>
	    </exemplum>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<author>unknown</author>
	      </egXML>
	    </exemplum>
	    <remarks>
	      <p>Particularly where cataloguing is likely to be based
	      on the content of the header, it is advisable to use a
	      generally recognized name authority file to supply the
	      content for this element. The attributes <att>key</att>
	      or <att>ref</att> may also be used to reference
	      canonical information about the author(s) intended from
	      any appropriate authority, such as a library catalogue
	      or online resource.</p>
	      <p>In the case of a broadcast, use this element for the
	      name of the company or network responsible for making
	      the broadcast.</p>
	      <p>Where an author is unknown or unspecified, this
	      element may contain text such as
	      <mentioned>Unknown</mentioned> or
	      <mentioned>Anonymous</mentioned>. When the appropriate
	      TEI modules are in use, it may also contain detailed
	      tagging of the names used for people, organizations or
	      places, in particular where multiple names are
	      given.</p>
	    </remarks>
	    <listRef>
	      <ptr target="#COBICOR"/>
	      <ptr target="#HD21"/>
	    </listRef>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="back" mode="replace">
	    <gloss>back matter</gloss>
	    <desc>contains any appendixes, etc. following the main part of a text.</desc>
	    <classes>
	      <memberOf key="att.declaring"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.frontPart"/>
		    <rng:ref name="model.pLike.front"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:group>
		  <rng:optional>
		    <rng:choice>
		      <rng:group>
			<rng:group>
			  <rng:ref name="model.div1Like"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:choice>
			    <rng:ref name="model.frontPart"/>
			    <rng:ref name="model.div1Like"/>
			    <rng:ref name="model.global"/>
			  </rng:choice>
			</rng:zeroOrMore>
		      </rng:group>
		      <rng:group>
			<rng:group>
			  <rng:ref name="model.divLike"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:choice>
			    <rng:ref name="model.frontPart"/>
			    <rng:ref name="model.divLike"/>
			    <rng:ref name="model.global"/>
			  </rng:choice>
			</rng:zeroOrMore>
		      </rng:group>
		    </rng:choice>
		  </rng:optional>
		</rng:group>
		<rng:group>
		  <rng:optional>
		    <rng:group>
		      <rng:ref name="model.divBottomPart"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:choice>
			<rng:ref name="model.divBottomPart"/>
			<rng:ref name="model.global"/>
		      </rng:choice>
		    </rng:zeroOrMore>
		  </rng:optional>
		</rng:group>
	      </rng:group>
	    </content>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<back>
		  <div1 type="appendix">
		    <head>The Golden Dream or, the Ingenuous Confession</head>
		    <ab>To shew the Depravity of human Nature </ab>
		  </div1>
		  <div1 type="epistle">
		    <head>A letter from the Printer, which he desires may be inserted</head>
		    <ab>Sir.
		    I have done with your Copy, so you may return it to the Vatican, if you please</ab>
		  </div1>
		  <div1 type="advert">
		    <head>The Books usually read by the Scholars of
		    Mrs Two-Shoes are these and are sold at Mr
		    Newbery's at the Bible and Sun in St Paul's
		    Church-yard.</head>
		    <ab>
		      The Christmas Box, Price 1d.
		      The History of Giles Gingerbread, 1d.
		      A Curious Collection of Travels, selected from the Writers of all Nations,
		      10 Vol, Pr. bound 1l.
		    </ab>
		  </div1>
		  <div1 type="advert">
		    <head>By the KING's Royal Patent,
		    Are sold by J. NEWBERY, at the
		    Bible and Sun in St. Paul's Church-Yard.</head>
		    <ab>
		      Dr. James's Powders for Fevers, the Small-Pox, Measles, Colds, &amp;c.
		      2s. 6d
		      Dr. Hooper's Female Pills, 1s.
		    </ab>
		  </div1>
		</back>
	      </egXML>
	    </exemplum>
	    <remarks>
	      <p>The content model of back matter is identical to that
	      of front matter, reflecting the facts of cultural
	      history.</p>
	    </remarks>
	    <listRef>
	      <ptr target="#DSBACK"/>
	      <ptr target="#DS"/>
	    </listRef>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="body" mode="replace">
	    <desc>contains the body of a single unitary text,
	    excluding any front or back matter.</desc>
	    <content>
	      <rng:choice>
		<rng:oneOrMore>
		  <rng:ref name="model.divLike"/>
		</rng:oneOrMore>
		<rng:oneOrMore>
		  <rng:ref name="model.div1Like"/>
		</rng:oneOrMore>
	      </rng:choice>
	    </content>
	    <exemplum xml:lang="fr">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<body>
		  <head>LA FOREST
		  NVPTIALE,</head>
		  <ab>Où e∫t repre∫entee vne varieté bigarree, 
		  non mois e∫merveillable que plai∫an‐
		  te, de diuers mariages, ∫elon qu’ils ∫ont
		  ob∫erueZ &amp; pratiqueZ par plu∫ieurs
		  peuples &amp; nations e∫tranges. Auec
		  la maniere de policier, regir, gouuer‐
		  ner &amp; admini∫trer leur famille.</ab>
		  <div type="chapter">
		    <head>Les Romains. CHAPITRE I.</head>
		    <ab>Encores que ie ne 
		    veuille me formali‐
		    ∫er contre le droict
		    Romain, neãtmoins
		    puis que le forma‐
		    litez, qui e∫toient an‐
		    ciennement gardees au nopces
		    Romaines, ∫ont maintenant mi∫es
		    hors d’v∫ages &amp; pratique, ie ne ∫e‐
		    A
		    <pb/>
		    ray point de difficulté d’emprunter
		    des anciens autheurs ce qui appar‐
		    <!-- ... -->
		    </ab>
		  </div>
		</body>
	      </egXML>
	    </exemplum>
	    <remarks>
	      <p>At level 2, the content of <gi>body</gi> may contain
	      only <gi>head</gi>, <gi>ab</gi>, <gi>pb</gi>,
	      <gi>note</gi>, and either <gi>div</gi> or <gi>div1</gi>
	      elements.</p>
	    </remarks>
	    <listRef>
	      <ptr target="#DS"/>
	    </listRef>
	  </elementSpec>
	  <elementSpec module="core" ident="date" mode="change">
	    <constraintSpec scheme="isoschematron" ident="whenNotContent">
	      <s:rule context="date[parent::publicationStmt]">
		<s:assert test="@when">Dates inside the publication statement must have @when (and should not
		have content)</s:assert>
		<s:report test="string-length( normalize-space(.) ) &gt; 0">Dates inside the publication statement
		should not have content (and must have @when)</s:report>
	      </s:rule>
	    </constraintSpec>
	    <constraintSpec scheme="isoschematron" ident="whenMaybeContent">
	      <s:rule context="date[ancestor::biblStruct]">
		<s:assert test="@when">Dates within a TEI header or
		structured bibliography should have a @when
		attribute.</s:assert>
	      </s:rule>
	    </constraintSpec>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.divLike"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:choice>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:ref name="model.divLike"/>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		    </rng:group>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:group>
			  <rng:ref name="model.common"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		      <rng:zeroOrMore>
			<rng:ref name="model.divLike"/>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:zeroOrMore>
		    </rng:group>
		  </rng:choice>
		</rng:optional>
	      </rng:group>
	    </content>
	    <constraintSpec scheme="isoschematron" ident="recommendType">
	      <s:rule>
		<s:report test="./not[@type]">Use of the
		<att>type</att> attribute of <gi>div</gi> is
		recommended</s:report>
	      </s:rule>
	    </constraintSpec>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
	      </attDef>
	    </attList>
	    <remarks>
	      <p>At level 2, <gi>div</gi> may only contain
	      <gi>head</gi>, <gi>ab</gi>, <gi>pb</gi>, <gi>note</gi>,
	      and more <gi>div</gi> elements.</p>
	    </remarks>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div1" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.div1Like"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:choice>
		    <rng:oneOrMore>
		      <rng:choice>
			<rng:ref name="model.div2Like"/>
			<rng:ref name="model.divGenLike"/>
		      </rng:choice>
		      <rng:zeroOrMore>
			<rng:ref name="model.global"/>
		      </rng:zeroOrMore>
		    </rng:oneOrMore>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:group>
			  <rng:ref name="model.common"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		      <rng:zeroOrMore>
			<rng:choice>
			  <rng:ref name="model.div2Like"/>
			  <rng:ref name="model.divGenLike"/>
			</rng:choice>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:zeroOrMore>
		    </rng:group>
		  </rng:choice>
		  <rng:zeroOrMore>
		    <rng:group>
		      <rng:ref name="model.divBottom"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:zeroOrMore>
		</rng:optional>
	      </rng:group>
	    </content>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
		<defaultVal>section</defaultVal>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div2" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.div2Like"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:choice>
		    <rng:oneOrMore>
		      <rng:choice>
			<rng:ref name="model.div3Like"/>
			<rng:ref name="model.divGenLike"/>
		      </rng:choice>
		      <rng:zeroOrMore>
			<rng:ref name="model.global"/>
		      </rng:zeroOrMore>
		    </rng:oneOrMore>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:group>
			  <rng:ref name="model.common"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		      <rng:zeroOrMore>
			<rng:choice>
			  <rng:ref name="model.div3Like"/>
			  <rng:ref name="model.divGenLike"/>
			</rng:choice>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:zeroOrMore>
		    </rng:group>
		  </rng:choice>
		  <rng:zeroOrMore>
		    <rng:group>
		      <rng:ref name="model.divBottom"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:zeroOrMore>
		</rng:optional>
	      </rng:group>
	    </content>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
		<defaultVal>section</defaultVal>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div3" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.div3Like"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:choice>
		    <rng:oneOrMore>
		      <rng:choice>
			<rng:ref name="model.div4Like"/>
			<rng:ref name="model.divGenLike"/>
		      </rng:choice>
		      <rng:zeroOrMore>
			<rng:ref name="model.global"/>
		      </rng:zeroOrMore>
		    </rng:oneOrMore>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:group>
			  <rng:ref name="model.common"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		      <rng:zeroOrMore>
			<rng:choice>
			  <rng:ref name="model.div4Like"/>
			  <rng:ref name="model.divGenLike"/>
			</rng:choice>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:zeroOrMore>
		    </rng:group>
		  </rng:choice>
		  <rng:zeroOrMore>
		    <rng:group>
		      <rng:ref name="model.divBottom"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:zeroOrMore>
		</rng:optional>
	      </rng:group>
	    </content>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
		<defaultVal>section</defaultVal>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div4" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.div4Like"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:choice>
		    <rng:oneOrMore>
		      <rng:choice>
			<rng:ref name="model.div5Like"/>
			<rng:ref name="model.divGenLike"/>
		      </rng:choice>
		      <rng:zeroOrMore>
			<rng:ref name="model.global"/>
		      </rng:zeroOrMore>
		    </rng:oneOrMore>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:group>
			  <rng:ref name="model.common"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		      <rng:zeroOrMore>
			<rng:choice>
			  <rng:ref name="model.div5Like"/>
			  <rng:ref name="model.divGenLike"/>
			</rng:choice>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:zeroOrMore>
		    </rng:group>
		  </rng:choice>
		  <rng:zeroOrMore>
		    <rng:group>
		      <rng:ref name="model.divBottom"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:zeroOrMore>
		</rng:optional>
	      </rng:group>
	    </content>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
		<defaultVal>section</defaultVal>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div5" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.div5Like"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:choice>
		    <rng:oneOrMore>
		      <rng:choice>
			<rng:ref name="model.div6Like"/>
			<rng:ref name="model.divGenLike"/>
		      </rng:choice>
		      <rng:zeroOrMore>
			<rng:ref name="model.global"/>
		      </rng:zeroOrMore>
		    </rng:oneOrMore>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:group>
			  <rng:ref name="model.common"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		      <rng:zeroOrMore>
			<rng:choice>
			  <rng:ref name="model.div6Like"/>
			  <rng:ref name="model.divGenLike"/>
			</rng:choice>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:zeroOrMore>
		    </rng:group>
		  </rng:choice>
		  <rng:zeroOrMore>
		    <rng:group>
		      <rng:ref name="model.divBottom"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:zeroOrMore>
		</rng:optional>
	      </rng:group>
	    </content>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
		<defaultVal>section</defaultVal>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div6" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.div6Like"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:choice>
		    <rng:oneOrMore>
		      <rng:choice>
			<rng:ref name="model.div7Like"/>
			<rng:ref name="model.divGenLike"/>
		      </rng:choice>
		      <rng:zeroOrMore>
			<rng:ref name="model.global"/>
		      </rng:zeroOrMore>
		    </rng:oneOrMore>
		    <rng:group>
		      <rng:oneOrMore>
			<rng:group>
			  <rng:ref name="model.common"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:oneOrMore>
		      <rng:zeroOrMore>
			<rng:choice>
			  <rng:ref name="model.div7Like"/>
			  <rng:ref name="model.divGenLike"/>
			</rng:choice>
			<rng:zeroOrMore>
			  <rng:ref name="model.global"/>
			</rng:zeroOrMore>
		      </rng:zeroOrMore>
		    </rng:group>
		  </rng:choice>
		  <rng:zeroOrMore>
		    <rng:group>
		      <rng:ref name="model.divBottom"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:zeroOrMore>
		</rng:optional>
	      </rng:group>
	    </content>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
		<defaultVal>section</defaultVal>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="div7" mode="replace">
	    <classes mode="change">
	      <memberOf key="att.typed" mode="delete"/>
	      <memberOf key="model.div7Like"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.divTop"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:optional>
		  <rng:oneOrMore>
		    <rng:group>
		      <rng:ref name="model.common"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:oneOrMore>
		  <rng:zeroOrMore>
		    <rng:group>
		      <rng:ref name="model.divBottom"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:ref name="model.global"/>
		    </rng:zeroOrMore>
		  </rng:zeroOrMore>
		</rng:optional>
	      </rng:group>
	    </content>
	    <attList>
	      <attDef ident="type" mode="change">
		<datatype>
		  <rng:ref name="data.enumerated"/>
		</datatype>
		<defaultVal>section</defaultVal>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="core" ident="editor" mode="replace">
	    <desc>contains the name (typically encoded as
	    <gi>name</gi>, <gi>persName</gi>, or <gi>orgName</gi>) of
	    an individual, institution, or organization acting as
	    editor</desc>
	    <classes>
	      <memberOf key="model.respLike"/>
	    </classes>
	    <content>
	      <rng:ref name="macro.phraseSeq"/>
	    </content>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<editor><persName ref="names.xml#khawkins.tvt">Kevin Hawkins</persName></editor>
	      </egXML>
	    </exemplum>
	    <listRef>
	      <ptr target="#COBICOR"/>
	    </listRef>
	  </elementSpec>
	  <elementSpec module="core" ident="floatingText" mode="change">
	    <content>
	      <rng:optional>
		<rng:ref name="front"/>
	      </rng:optional>
	      <rng:choice>
		<rng:ref name="body"/>
		<rng:ref name="group"/>
	      </rng:choice>
	      <rng:optional>
		<rng:ref name="back"/>
	      </rng:optional>
	    </rng:group>
	  </content>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="front" mode="replace">
	    <gloss>front matter</gloss>
	    <desc>contains any prefatory matter (headers, title page,
	    prefaces, dedications, etc.) found at the start of a
	    document, before the main body.</desc>
	    <classes>
	      <memberOf key="att.declaring"/>
	    </classes>
	    <content>
	      <rng:group>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="model.frontPart"/>
		    <rng:ref name="model.pLike.front"/>
		    <rng:ref name="model.global"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:group>
		  <rng:optional>
		    <rng:choice>
		      <rng:group>
			<rng:group>
			  <rng:ref name="model.div1Like"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:choice>
			    <rng:ref name="model.frontPart"/>
			    <rng:ref name="model.div1Like"/>
			    <rng:ref name="model.global"/>
			  </rng:choice>
			</rng:zeroOrMore>
		      </rng:group>
		      <rng:group>
			<rng:group>
			  <rng:ref name="model.divLike"/>
			</rng:group>
			<rng:zeroOrMore>
			  <rng:choice>
			    <rng:ref name="model.frontPart"/>
			    <rng:ref name="model.divLike"/>
			    <rng:ref name="model.global"/>
			  </rng:choice>
			</rng:zeroOrMore>
		      </rng:group>
		    </rng:choice>
		  </rng:optional>
		</rng:group>
		<rng:group>
		  <rng:optional>
		    <rng:group>
		      <rng:ref name="model.divBottomPart"/>
		    </rng:group>
		    <rng:zeroOrMore>
		      <rng:choice>
			<rng:ref name="model.divBottomPart"/>
			<rng:ref name="model.global"/>
		      </rng:choice>
		    </rng:zeroOrMore>
		  </rng:optional>
		</rng:group>
	      </rng:group>
	    </content>
	    <exemplum xml:lang="en">
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<front>
		  <div type="dedication">
		    <ab>To our three selves</ab>
		  </div>
		  <div type="preface">
		    <head>Author's Note</head>
		    <ab>All the characters in this book are purely
		    imaginary, and if the author has used names that
		    may suggest a reference to living persons she has
		    done so inadvertently. ...</ab>
		  </div>
		</front>
	      </egXML>
	    </exemplum>
	    <listRef>
	      <ptr target="#DSTITL"/>
	      <ptr target="#DS"/>
	    </listRef>
	  </elementSpec>
	  <elementSpec module="core" ident="head" mode="replace">
	    <gloss>heading</gloss>
	    <desc>contains the heading of a division, for example the
	    title of a section.</desc>
	    <classes>
	      <memberOf key="att.typed"/>
	      <memberOf key="model.headLike"/>
	      <memberOf key="model.pLike.front"/>
	    </classes>
	    <content>
	      <rng:ref name="macro.paraContent"/>
	    </content>
	    <exemplum xml:lang="en">
	      <p>The most common use for the <gi>head</gi> element is
	      to mark the headings of sections. In older writings, the
	      headings or <term>incipits</term> may be rather longer
	      than usual in modern works.</p>
	      <egXML xmlns="http://www.tei-c.org/ns/Examples">
		<div1 n="I" type="book">
		  <head>In the name of Christ here begins the first
		  book of the ecclesiastical history of Georgius
		  Florentinus, known as Gregory, Bishop of
		  Tours.</head>
		  <ab>
		    ...
		  </ab>
		  <div2 type="section">
		    <head>In the name of Christ here begins
		    Book I of the history.</head>
		    <ab>Proposing as I do ...
		    ...
		    From the Passion of our Lord until the death of
		    Saint Martin four hundred and twelve years
		    passed.
		    Here ends the first Book, which covers five
		    thousand, five hundred and ninety-six years from
		    the beginning of the world down to the death of
		    Saint Martin.</ab>
		  </div2>
		</div1>
	      </egXML>
	    </exemplum>
	    <remarks>
	      <p>The <gi>head</gi> element is used for headings at all
	      levels; software which treats (e.g.) chapter headings,
	      section headings, and list titles differently must
	      determine the proper processing of a <gi>head</gi>
	      element based on its structural position.</p>
	      <p>A <gi>head</gi> occurring as the first element of a
	      <gi>div1</gi> is the title of that chapter or
	      section.</p>
	    </remarks>
	    <listRef>
	      <ptr target="#DSHD" type="div2"/>
	    </listRef>
	  </elementSpec>
	  <elementSpec module="core" ident="note" mode="change">
	    <attList>
	      <attDef ident="anchored" mode="delete"/>
	      <attDef ident="target" mode="delete"/>
	      <attDef ident="targetEnd" mode="delete"/>
	    </attList>
	  </elementSpec>
	  <elementSpec module="namesdates" ident="orgName" mode="change">
	    <classes mode="change">
	      <memberOf mode="delete" key="att.datable"/>
	    </classes>
	  </elementSpec>
          <elementSpec module="core" ident="pb" mode="change">
            <attList>
              <attDef ident="ed" mode="delete"/>
            </attList>
          </elementSpec>
	  <elementSpec module="namesdates" ident="persName" mode="change">
	    <classes mode="change">
	      <memberOf mode="delete" key="att.datable"/>
	    </classes>
	  </elementSpec>
          <elementSpec module="core" ident="ptr" mode="change">
            <attList>
              <attDef ident="cRef" mode="delete"/>
            </attList>
          </elementSpec>
	  <elementSpec module="core" ident="ref" mode="change">
	    <attList>
	      <attDef ident="cRef" mode="delete"/>
	    </attList>
	  </elementSpec>
	  <elementSpec module="core" ident="respStmt" mode="change">
	    <content>
	      <rng:choice>
		<rng:group>
		  <rng:ref name="resp"/>
		  <rng:oneOrMore>
		    <rng:ref name="model.nameLike.agent"/>
		  </rng:oneOrMore>
		</rng:group>
		<rng:group>
		  <rng:oneOrMore>
		    <rng:ref name="model.nameLike.agent"/>
		  </rng:oneOrMore>
		  <rng:ref name="resp"/>
		</rng:group>
	      </rng:choice>
	    </content>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="teiHeader" mode="change">
	    <attList>
	      <attDef mode="change" ident="xml:lang" usage="req"/>
	      <attDef mode="delete" ident="type"/>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="title" mode="replace">
	    <desc>contains a title for any kind of work.</desc>
	    <classes>
	      <memberOf key="model.emphLike"/>
	      <memberOf key="model.msQuoteLike"/>
	      <memberOf key="att.canonical"/>
	    </classes>
	    <content>
	      <rng:ref name="macro.paraContent"/>
	    </content>
	    <constraintSpec scheme="isoschematron" ident="titleLevel">
	      <s:rule context="parent::seriesStmt">
		<s:assert test="@level='s'">When a child of &lt;seriesStmt&gt;, the level of a title must be
		specified as 's'.</s:assert>
	      </s:rule>
	      <s:rule context="parent::analytic">
		<s:assert test="@level='a'">When a child of &lt;analytic&gt;, the level of a title must be
		specified as 'a'.</s:assert>
	      </s:rule>
	    </constraintSpec>
	    <attList>
	      <attDef ident="level" usage="opt">
		<desc>indicates the bibliographic level for a title,
		that is, whether it identifies an article, book,
		journal, series, or unpublished material.</desc>
		<valList type="closed">
		  <valItem ident="a">
		    <gloss>analytic</gloss>
		    <desc>analytic title (article, poem, or other item
		    published as part of a larger item) </desc>
		  </valItem>
		  <valItem ident="m">
		    <gloss>monographic</gloss>
		    <desc>monographic title (book, collection, or
		    other item published as a distinct item,
		    including single volumes of multi-volume
		    works) </desc>
		  </valItem>
		  <valItem ident="j">
		    <gloss>journal</gloss>
		    <desc>journal title </desc>
		  </valItem>
		  <valItem ident="s">
		    <gloss>series</gloss>
		    <desc>series title </desc>
		  </valItem>
		  <valItem ident="u">
		    <gloss>unpublished</gloss>
		    <desc>title of unpublished material (including
		    theses and dissertations unless
		    published by a commercial press)</desc>
		  </valItem>
		</valList>
		<remarks>
		  <p>The level of a title is sometimes implied by its
		  context: for example, a title appearing directly
		  within an <gi>analytic</gi> element is <foreign>ipso
		  facto</foreign> of level <val>a</val>, and one
		  appearing within a <gi>series</gi> element of level
		  <val>s</val>. For this reason, the <att>level</att>
		  attribute is not required in contexts where its
		  value can be unambiguously inferred. Where it is
		  supplied in such contexts, its value should not
		  contradict the value implied by its parent element.</p>
		</remarks>
	      </attDef>
	      <attDef ident="type" usage="rec">
		<valList type="semi">
		  <valItem ident="main">
		    <desc>main title </desc>
		  </valItem>
		  <valItem ident="sub">
		    <gloss>subordinate</gloss>
		    <desc>subtitle, title of part </desc>
		  </valItem>
		  <valItem ident="alt">
		    <gloss>alternate</gloss>
		    <desc>alternate title, often in another language,
		    by which the work is also known </desc>
		  </valItem>
		  <valItem ident="short">
		    <desc>abbreviated form of title</desc>
		  </valItem>
		  <valItem ident="desc">
		    <gloss>descriptive</gloss>
		  </valItem>
		  <valItem ident="translated">
		    <desc>a translation of a title</desc>
		  </valItem>
		  <valItem ident="marc245a">
		    <desc>used for the title proper and alternative
		    title according to the national cataloging
		    code</desc>
		  </valItem>
		  <valItem ident="marc245b">
		    <desc>used for the the remainder of the title
		    information — parallel titles, titles subsequent
		    to the first, and other title information —
		    according to the national cataloging code)</desc>
		  </valItem>
                  <valItem ident="uniform">
                    <desc>used for a uniform title according to the
                    national cataloging code</desc>
                  </valItem>
		</valList>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <!-- ********************************* -->
	  <!-- Element deletion, in module order -->
	  <!-- ********************************* -->
	  <elementSpec module="core" ident="abbr" mode="delete"/>
	  <elementSpec module="core" ident="binaryObject" mode="delete"/>
	  <elementSpec module="core" ident="cb" mode="delete"/>
	  <elementSpec module="core" ident="cit" mode="delete"/>
	  <elementSpec module="core" ident="desc" mode="delete"/>
	  <elementSpec module="core" ident="distinct" mode="delete"/>
	  <elementSpec module="core" ident="divGen" mode="delete"/>
	  <elementSpec module="core" ident="expan" mode="delete"/>
	  <elementSpec module="core" ident="headItem" mode="delete"/>
	  <elementSpec module="core" ident="headLabel" mode="delete"/>
	  <elementSpec module="core" ident="index" mode="delete"/>
	  <!-- elementSpec module="core" ident="label" mode="delete"/  needed for <application> -->
	  <elementSpec module="core" ident="listBibl" mode="delete"/>
	  <elementSpec module="core" ident="measure" mode="delete"/>
	  <elementSpec module="core" ident="measureGrp" mode="delete"/>
	  <elementSpec module="core" ident="milestone" mode="delete"/>
	  <elementSpec module="core" ident="num" mode="delete"/>
	  <elementSpec module="core" ident="orig" mode="delete"/>
	  <elementSpec module="core" ident="q" mode="delete"/>
	  <elementSpec module="core" ident="reg" mode="delete"/>
	  <elementSpec module="core" ident="rs" mode="delete"/>
	  <elementSpec module="core" ident="teiCorpus" mode="delete"/>
	  <elementSpec module="core" ident="time" mode="delete"/>
	  <elementSpec module="textstructure" ident="byline" mode="delete"/>
	  <elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
	  <elementSpec module="figures" ident="formula" mode="delete"/>
	  <elementSpec module="transcr" ident="zone" mode="delete"/>
	  <elementSpec module="transcr" ident="addSpan" mode="delete"/>
	  <elementSpec module="transcr" ident="damage" mode="delete"/>
	  <elementSpec module="transcr" ident="damageSpan" mode="delete"/>
	  <elementSpec module="transcr" ident="delSpan" mode="delete"/>
	  <elementSpec module="transcr" ident="ex" mode="delete"/>
	  <elementSpec module="transcr" ident="facsimile" mode="delete"/>
	  <elementSpec module="transcr" ident="fw" mode="delete"/>
	  <elementSpec module="transcr" ident="handNotes" mode="delete"/>
	  <elementSpec module="transcr" ident="handShift" mode="delete"/>
	  <elementSpec module="transcr" ident="am" mode="delete"/>
	  <elementSpec module="transcr" ident="restore" mode="delete"/>
	  <elementSpec module="transcr" ident="space" mode="delete"/>
	  <elementSpec module="transcr" ident="subst" mode="delete"/>
	  <elementSpec module="transcr" ident="supplied" mode="delete"/>
	  <elementSpec module="transcr" ident="surface" mode="delete"/>
	  <elementSpec module="namesdates" ident="surname" mode="delete"/>
	  <elementSpec module="namesdates" ident="forename" mode="delete"/>
	  <elementSpec module="namesdates" ident="genName" mode="delete"/>
	  <elementSpec module="namesdates" ident="nameLink" mode="delete"/>
	  <elementSpec module="namesdates" ident="addName" mode="delete"/>
	  <elementSpec module="namesdates" ident="roleName" mode="delete"/>
	  <elementSpec module="namesdates" ident="bloc" mode="delete"/>
	  <elementSpec module="namesdates" ident="country" mode="delete"/>
	  <elementSpec module="namesdates" ident="region" mode="delete"/>
	  <elementSpec module="namesdates" ident="district" mode="delete"/>
	  <elementSpec module="namesdates" ident="settlement" mode="delete"/>
	  <elementSpec module="namesdates" ident="offset" mode="delete"/>
	  <elementSpec module="namesdates" ident="geogFeat" mode="delete"/>
	  <elementSpec module="namesdates" ident="affiliation" mode="delete"/>
	  <elementSpec module="namesdates" ident="age" mode="delete"/>
	  <elementSpec module="namesdates" ident="birth" mode="delete"/>
	  <elementSpec module="namesdates" ident="climate" mode="delete"/>
	  <elementSpec module="namesdates" ident="death" mode="delete"/>
	  <elementSpec module="namesdates" ident="education" mode="delete"/>
	  <elementSpec module="namesdates" ident="event" mode="delete"/>
	  <elementSpec module="namesdates" ident="faith" mode="delete"/>
	  <elementSpec module="namesdates" ident="floruit" mode="delete"/>
	  <elementSpec module="namesdates" ident="geo" mode="delete"/>
	  <elementSpec module="namesdates" ident="langKnowledge" mode="delete"/>
	  <elementSpec module="namesdates" ident="langKnown" mode="delete"/>
	  <elementSpec module="namesdates" ident="listEvent" mode="delete"/>
	  <elementSpec module="namesdates" ident="location" mode="delete"/>
	  <elementSpec module="namesdates" ident="nationality" mode="delete"/>
	  <elementSpec module="namesdates" ident="occupation" mode="delete"/>
	  <elementSpec module="namesdates" ident="org" mode="delete"/>
	  <elementSpec module="namesdates" ident="relationGrp" mode="delete"/>
	  <elementSpec module="namesdates" ident="person" mode="delete"/>
	  <elementSpec module="namesdates" ident="personGrp" mode="delete"/>
	  <elementSpec module="namesdates" ident="place" mode="delete"/>
	  <elementSpec module="namesdates" ident="population" mode="delete"/>
	  <elementSpec module="namesdates" ident="relation" mode="delete"/>
	  <elementSpec module="namesdates" ident="residence" mode="delete"/>
	  <elementSpec module="namesdates" ident="sex" mode="delete"/>
	  <elementSpec module="namesdates" ident="socecStatus" mode="delete"/>
	  <elementSpec module="namesdates" ident="state" mode="delete"/>
	  <elementSpec module="namesdates" ident="terrain" mode="delete"/>
	  <elementSpec module="namesdates" ident="trait" mode="delete"/>
	  <elementSpec module="namesdates" ident="nym" mode="delete"/>
	  <elementSpec module="namesdates" ident="listNym" mode="delete"/>
	  <elementSpec module="drama" ident="actor" mode="delete"/>
	  <elementSpec module="drama" ident="camera" mode="delete"/>
	  <elementSpec module="drama" ident="caption" mode="delete"/>
	  <elementSpec module="drama" ident="castGroup" mode="delete"/>
	  <elementSpec module="drama" ident="epilogue" mode="delete"/>
	  <elementSpec module="drama" ident="move" mode="delete"/>
	  <elementSpec module="drama" ident="performance" mode="delete"/>
	  <elementSpec module="drama" ident="prologue" mode="delete"/>
	  <elementSpec module="drama" ident="role" mode="delete"/>
	  <elementSpec module="drama" ident="roleDesc" mode="delete"/>
	  <elementSpec module="drama" ident="set" mode="delete"/>
	  <elementSpec module="drama" ident="sound" mode="delete"/>
	  <elementSpec module="drama" ident="tech" mode="delete"/>
	  <elementSpec module="drama" ident="view" mode="delete"/>
	  <!-- ****************************************************** -->
	  <!-- Class deletions (both deletion of classes and deletion -->
	  <!-- of attributes from classes) in no particiular order    -->
	  <!-- ****************************************************** -->
	  <classSpec module="tei" type="atts" ident="att.global" mode="change">
	    <attList>
	      <attDef ident="rend" mode="delete"/>
	      <attDef ident="rendition" mode="delete"/>
	      <attDef ident="xml:base" mode="delete"/>
	    </attList>
	  </classSpec>
	  <classSpec module="tei" type="model" ident="model.inter" mode="change">
	    <classes mode="change">
	      <memberOf key="model.common" mode="delete"/>
	    </classes>
	  </classSpec>
	  <classSpec module="tei" ident="model.resourceLike" mode="delete" type="model"/>
	  <classSpec module="tei" ident="model.common" mode="delete" type="model"/>
	  <classSpec module="tei" ident="model.divBottom" mode="delete" type="model"/> 
	  <classSpec module="tei" ident="model.divBottomPart" mode="delete" type="model"/> 
	  <classSpec module="tei" ident="model.frontPart" mode="delete" type="model"/> 
	  <classSpec module="tei" ident="model.msItemPart" mode="delete" type="model"/> 
	  <classSpec module="tei" ident="model.msQuoteLike" mode="delete" type="model"/>        
	  <classSpec module="tei" ident="model.personPart" mode="delete" type="model"/> 
	  <classSpec module="tei" ident="model.persStateLike" mode="delete" type="model"/>      
	  <classSpec module="tei" ident="model.publicationStmtPart" mode="delete" type="model"/>      
	  <classSpec module="tei" ident="att.declarable" mode="delete" type="atts"/>
	  <classSpec module="tei" ident="att.declaring" mode="delete" type="atts"/>
	  <classSpec module="tei" ident="att.divLike" mode="delete" type="atts"/>
	  <classSpec module="tei" ident="att.editLike" mode="delete" type="atts"/>
	  <classSpec module="tei" ident="att.naming" mode="delete" type="atts"/>
	  <classSpec module="tei" ident="att.naming" mode="delete" type="atts"/>
	  <classSpec module="tei" ident="att.placement" mode="delete" type="atts"/>
	  <classSpec module="tei" ident="att.typed" mode="change" type="atts">
	    <attList>
	      <attDef ident="subtype" mode="delete"/>
	    </attList>
	  </classSpec>
	  <classSpec module="namesdates" ident="att.datable.iso" mode="delete" type="atts"/>
	  <classSpec module="textstructure" ident="model.divBottm" mode="delete" type="model"/>
	  <classSpec module="textstructure" ident="model.divWrapper" mode="delete" type="model"/>
	  <classSpec module="transcr" ident="att.coordinated" mode="delete" type="atts"/>
	</schemaSpec>
      </div>
    </body>
  </text>
</TEI>
